.browser-window {
  display: flex;
  flex-direction: column;
  min-height: 25ch;
  border-radius: var(--ideal-radius);
  background-color: hsl(var(--bg-primary));
  border: 1px solid hsl(var(--bg-secondary));
  overflow: auto;
  box-shadow: 0 6px 12px hsl(var(--d-contrast) / 15%);
}

.resizable {
  overflow: auto;
  resize: both;
}

.viewport {
  flex: 1;
  display: grid;
  overflow: auto;
}

.headerbar {
  display: flex;
  padding: var(--space-xxs);
  border-bottom: 1px solid hsl(var(--bg-secondary));
  background-color: hsl(var(--bg-secondary) / 50%);
}

.window-actions {
  display: flex;
  padding: var(--space-xxs);
  gap: var(--space-xxs);
  align-items: center;
  padding-inline-end: var(--space-s);
}

.window-actions > * {
  aspect-ratio: 1;
  width: var(--space-xs);
  border: 1px solid;
  border-radius: 100%;
}

.close {
  border-color: hsl(var(--error-500));
  background-color: hsl(var(--error-500));
}

.minimize {
  border-color: hsl(var(--warning-500));
  background-color: hsl(var(--warning-500));
}

.maximize {
  border-color: hsl(var(--success-500));
  background-color: hsl(var(--success-500));
}

.browser-tabs {
  flex: 1;
  gap: var(--space-xxs);
  display: flex;
  align-self: end;
  margin-bottom: -0.3em;
}

.browser-tab {
  background-color: hsl(var(--bg-primary));
  min-width: 8ch;
  border-radius: calc(var(--ideal-radius));
  border: 1px solid hsl(var(--bg-secondary));
  min-height: 2.5ch;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;

  &::before {
    content: "";
    background: inherit;
    width: 100%;
    position: absolute;
    height: 0.5ch;
    bottom: -2px;
  }
}
