.button {
  border-radius: var(--ideal-radius);
  border: none;
  color: hsl(var(--primary-700));
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  justify-content: center;
  padding: var(--space-s) var(--space-m);
  text-align: center;
  text-decoration: none;

  @media (prefers-color-scheme: dark) {
    color: hsl(var(--primary-300));
  }

  &.primary {
    background-color: hsl(var(--primary-500));
    color: hsl(var(--l-contrast));
  }

  &.secondary {
    background-color: hsl(var(--primary-100));
    color: hsl(var(--primary-900));

    &:hover {
      filter: brightness(1.25) saturate(1.2);
    }

    @media (prefers-color-scheme: dark) {
      background-color: hsl(var(--primary-900));
      color: hsl(var(--primary-100));

      &:hover {
        filter: saturate(1.25);
      }
    }
  }
}

.button:hover {
  box-shadow: none;
  outline: none;
}

.button:focus-visible {
  box-shadow: none;
  outline-color: hsl(var(--primary-500));
}
