.cards-grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space);

  .card {
    flex-basis: 35ch;
    flex-grow: 1;

    &.has-image {
      flex-basis: 100%;
      padding: var(--space-l);
      border-radius: calc(var(--ideal-radius) * 2.5);

      .card__title {
        @extend .fs-1;
      }
    }
  }
}

.card {
  padding: 1.75rem;
  gap: var(--space-l);
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  border-radius: var(--ideal-radius);

  &:hover {
    background-color: hsl(var(--bg-secondary) / 50%);
  }
}

.card__image {
  @include box-shadow(15, 3, rgb(0 0 0 / 0.05));

  border-radius: calc(var(--ideal-radius) * 1.5);
  flex-basis: 55ch;
  flex-grow: 1;
  min-height: 35ch;
  object-fit: cover;
  object-position: center;
  overflow: clip;
  width: auto;

  img {
    width: 100%;
    height: 35ch;
    aspect-ratio: 0;
    object-fit: cover;
  }
}

.card__body {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 50%;
  align-self: center;
}

.card__title {
  @extend .fs-3;
  @extend .responsive;
  margin: 0;
  line-height: 1;
  @media (prefers-color-scheme: dark) {
    color: inherit;
  }

  .card__link:focus-visible {
    outline-color: transparent;
    background-color: transparent;
    box-shadow: none;
    color: var(--theme-color-light, hsl(var(--primary-900)));

    @media (prefers-color-scheme: dark) {
      color: var(--theme-color-dark, hsl(var(--primary-100)));
    }
  }
}

.card__link {
  font-weight: bold;
  text-decoration: none;
  @media (prefers-color-scheme: dark) {
    color: inherit;
  }

  &:hover {
    text-decoration: none;
  }
}
