.code-snippet,
pre[class^="language-"] {
  background-color: hsl(var(--bg-secondary) / 25%);
  padding: var(--space-s);
  border-radius: var(--ideal-radius);
  border: 1px solid hsl(var(--bg-secondary));
  white-space: pre;
  overflow: auto;
  scrollbar-color: hsl(var(--bg-accent) / 25%) transparent;
  transition: scrollbar-color 300ms;

  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--bg-accent) / 25%);
    border-color: hsl(var(--bg-accent));
  }

  &::-webkit-scrollbar-track {
    background-color: hsl(var(--bg-primary) / 0);
  }

  &::-webkit-scrollbar-thumb {
    background-color: hsl(var(--bg-accent) / 0);
    border-color: hsl(var(--bg-primary) / 0);
  }

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb {
    transition: background-color 300ms;
  }

  &:hover,
  &:focus-visible {
    scrollbar-color: hsl(var(--bg-accent)) transparent;

    &::-webkit-scrollbar-track {
      background-color: hsl(var(--bg-primary) / 100%);
    }

    &::-webkit-scrollbar-thumb {
      background-color: hsl(var(--bg-accent) / 100%);
      border-color: hsl(var(--bg-primary) / 1);
    }
  }

  br {
    display: block;
  }
}

.tag {
  color: hsl(var(--warning-900));
}

.attr-equals,
.punctuation {
  color: hsl(var(--fg-default) / 50%);
}

.attr-name,
.property {
  color: hsl(var(--primary-700));
  filter: hue-rotate(-30deg);

  @media (prefers-color-scheme: dark) {
    color: hsl(var(--primary-100));
  }
}

.selector {
  color: hsl(var(--primary-700));

  @media (prefers-color-scheme: dark) {
    color: hsl(var(--primary-300));
  }
}

.highlight-line {
  display: block;
  padding-inline: var(--space-s);
  margin-inline: calc(var(--space-s) * -1);

  &-active {
    background: linear-gradient(
      to right,
      hsl(var(--secondary-500) / 50%) 50%,
      hsl(var(--secondary-500) / 0%)
    );
  }
}

.code-result {
  width: 100%;
  border: 1px solid hsl(var(--fg-non-essential));
  border-radius: var(--ideal-radius);
  background-color: hsl(var(--bg-primary));
}

iframe.code-result {
  background-color: white;
}
