.logo {
  align-items: center;
  display: flex;
  gap: 1ch;
  padding: var(--space-s);

  &.small {
    .logo__text {
      opacity: 0;
      transition: opacity 300ms;
    }

    .logo__image {
      width: 2rem;
    }
  }

  &.vertical {
    flex-direction: column;

    .logo__image {
      width: 8rem;
    }
  }
}

.logo__image {
  aspect-ratio: 1;
  height: auto;
  width: 4rem;
  transition: width 300ms, height 300ms;
}

.logo__text {
  display: flex;
  font-family: var(--font-sans);
  font-size: var(--type-size-5);
  text-transform: lowercase;
  transition: opacity 300ms;

  @media (max-width: 380px) {
    display: none;
  }
}
