.navbar {
  --navbar-radius : calc(var(--ideal-radius) * 2);
  align-items     : center;
  background-color: hsl(var(--secondary-900));
  border-radius   : var(--navbar-radius);
  color           : hsl(var(--l-contrast));
  display         : flex;
  flex-wrap       : wrap;
  justify-content : space-between;
  line-height     : 1;
  margin          : var(--space);
  position        : -webkit-sticky;
  position        : sticky;
  top             : var(--space);

  @media (min-width: 801px) and (max-width: 1098px) {
    top: -3.5rem;
  }

  &__left,
  &__right {
    align-items: center;
    display    : flex;
    gap        : var(--space);
    height     : 100%;
  }

  &__left {
    padding-inline-end: var(--space);
  }

  &__right,
  &__right &__list {
    justify-content: right;
  }

  &__list {
    align-items: center;
    display    : flex;
    gap        : 1ch;
    list-style : none;
    margin     : 0;
    padding    : 0;
  }

  &__brand {
    &.logo {
      padding: 0;

      .logo__image {
        width: 3rem;
      }

      .logo__text {
        font-size: var(--font-size-6);
      }
    }
  }
}

.navbar__artwork {
  aspect-ratio             : 1;
  border-bottom-left-radius: var(--navbar-radius);
  border-top-left-radius   : var(--navbar-radius);
  display                  : grid;
  height                   : 100%;
  min-width                : 3.5rem;
  overflow                 : auto;
  place-items              : end start;
  transition               : border-radius 200ms;

  @media (min-width: 801px) and (max-width: 1098px) {
    border-top-left-radius: 0;
  }

  &::before,
  &::after {
    aspect-ratio           : 1;
    border-top-right-radius: 2rem;
    content                : '';
    grid-column            : 1/2;
    grid-row               : 1/2;
    height                 : auto;
    width                  : 100%;
  }

  &::before {
    background-color: hsl(var(--secondary-700));
  }

  &::after {
    background-color: hsl(var(--secondary-500));
    width           : 75%;
  }
}

.navbar__stack {
  align-items   : start;
  display       : flex;
  flex-direction: column;
  gap           : 0;
}

/* COMPONENTS */
.navbar__link {
  color          : hsl(var(--l-contrast));
  cursor         : pointer;
  text-decoration: none;

  &:hover {
    color          : hsl(var(--l-contrast));
    text-decoration: underline;
  }
}

.navbar__button {
  background-color: transparent;
  border          : none;
  border-radius   : var(--ideal-radius);
  color           : hsl(var(--primary-100));
  display         : flex;
  font-weight     : bold;
  gap             : 1ch;
  padding-block   : var(--space-s);
  padding-inline  : var(--space);
  text-decoration : none;
  transition      : color 300ms, background-color 300ms;

  &:hover {
    background-color: hsl(var(--primary-100));
    color           : hsl(var(--primary-700));
  }

  &--primary {
    background-color: hsl(var(--primary-500));
    color           : hsl(var(--l-contrast));
  }
}