.notification-container {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: start;
  padding: var(--space);
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 50%;
  z-index: 99999;
}
