.post__header {
  background-color: hsl(var(--bg-primary));
  background-image: linear-gradient(180deg,
      hsl(var(--bg-primary) / 0) 0%,
      hsl(var(--bg-primary) / 0.0086472) 6.67%,
      hsl(var(--bg-primary) / 0.03551) 13.33%,
      hsl(var(--bg-primary) / 0.0816599) 20%,
      hsl(var(--bg-primary) / 0.147411) 26.67%,
      hsl(var(--bg-primary) / 0.231775) 33.33%,
      hsl(var(--bg-primary) / 0.331884) 40%,
      hsl(var(--bg-primary) / 0.442691) 46.67%,
      hsl(var(--bg-primary) / 0.557309) 53.33%,
      hsl(var(--bg-primary) / 0.668116) 60%,
      hsl(var(--bg-primary) / 0.768225) 66.67%,
      hsl(var(--bg-primary) / 0.852589) 73.33%,
      hsl(var(--bg-primary) / 0.91834) 80%,
      hsl(var(--bg-primary) / 0.96449) 86.67%,
      hsl(var(--bg-primary) / 0.991353) 93.33%,
      hsl(var(--bg-primary)) 100%),
    linear-gradient(var(--scrim-color), var(--scrim-color)),
    var(--post-cover, url(/assets/images/mesh-gradient.png));
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : cover;
  display            : flex;
  flex-direction     : column;
  justify-content    : flex-end;
  min-height         : 80vh;
  padding            : var(--space-xl);
  padding-top        : 10.5rem;

  @media (prefers-color-scheme: dark) {
    background-image: linear-gradient(180deg,
        hsl(var(--bg-primary) / 0) 0%,
        hsl(var(--bg-primary) / 0.0086472) 6.67%,
        hsl(var(--bg-primary) / 0.03551) 13.33%,
        hsl(var(--bg-primary) / 0.0816599) 20%,
        hsl(var(--bg-primary) / 0.147411) 26.67%,
        hsl(var(--bg-primary) / 0.231775) 33.33%,
        hsl(var(--bg-primary) / 0.331884) 40%,
        hsl(var(--bg-primary) / 0.442691) 46.67%,
        hsl(var(--bg-primary) / 0.557309) 53.33%,
        hsl(var(--bg-primary) / 0.668116) 60%,
        hsl(var(--bg-primary) / 0.768225) 66.67%,
        hsl(var(--bg-primary) / 0.852589) 73.33%,
        hsl(var(--bg-primary) / 0.91834) 80%,
        hsl(var(--bg-primary) / 0.96449) 86.67%,
        hsl(var(--bg-primary) / 0.991353) 93.33%,
        hsl(var(--bg-primary)) 100%),
      linear-gradient(var(--scrim-color), var(--scrim-color)),
      var(--post-cover, url(/assets/images/mesh-gradient.png));
  }
}

.post__header {
  --scrim-color: hsl(var(--bg-primary) / 0.65);

  @media (prefers-color-scheme: dark) {
    --scrim-color: hsl(var(--bg-primary) / 0.85);
  }
}

.post__title,
.post__description {
  mix-blend-mode: multiply;
  color         : hsl(var(--fg-default));

  @media (prefers-color-scheme: dark) {
    mix-blend-mode: lighten;
  }
}

.post__title {
  margin: 0;
}

.post__description {
  font-size   : var(--type-size-5);
  margin-block: 0;
}

.circle {
  aspect-ratio : 1;
  border-radius: 100%;
  border       : 3px solid hsl(var(--primary-500));
}

.topic {
  background-color: hsl(var(--bg-secondary));
  padding         : var(--space-xxxs) var(--space-xs);
  text-decoration : none;
  border-radius   : var(--ideal-radius);
  width           : -moz-fit-content;
  width           : fit-content;

  &:is(a[href], button) {
    cursor: pointer;
  }
}


/// MODIFICATIONS ///

.post__header.pride {
  display   : grid;
  background: transparent;
  position  : relative;

  &::before {
    background-image   : linear-gradient(180deg, hsl(var(--bg-primary)/0) 0, hsl(var(--bg-primary)/.0086472) 6.67%, hsl(var(--bg-primary)/.03551) 13.33%, hsl(var(--bg-primary)/.0816599) 20%, hsl(var(--bg-primary)/.147411) 26.67%, hsl(var(--bg-primary)/.231775) 33.33%, hsl(var(--bg-primary)/.331884) 40%, hsl(var(--bg-primary)/.442691) 46.67%, hsl(var(--bg-primary)/.557309) 53.33%, hsl(var(--bg-primary)/.668116) 60%, hsl(var(--bg-primary)/.768225) 66.67%, hsl(var(--bg-primary)/.852589) 73.33%, hsl(var(--bg-primary)/.91834) 80%, hsl(var(--bg-primary)/.96449) 86.67%, hsl(var(--bg-primary)/.991353) 93.33%, hsl(var(--bg-primary)) 100%), linear-gradient(var(--scrim-color), var(--scrim-color)), var(--post-cover, url(/assets/images/mesh-gradient.png));
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    content            : '';
    filter             : blur(20px);
    height             : 100%;
    left               : 0;
    position           : absolute;
    top                : 0;
    width              : 100%;
    z-index            : -1;
  }

  .person__image {
    border-radius: var(--ideal-radius);
    box-shadow   : 0 18px 25px #0005;
    aspect-ratio : 1;
    width        : min(25rem, 100%);
    margin-bottom: var(--space);
  }

  .badge {
    // background-image   : linear-gradient(135deg, #ff007d, #fb3333, #f2872c, #5cb05c, #256ba8, #9056e1, #9a559b, #ee3590);
    background-image: linear-gradient(135deg,
        #ff007d 12.5%,
        #fb3333 12.5%,
        #fb3333 25%,
        #f2872c 25%,
        #f2872c 37.5%,
        #5cb05c 37.5%,
        #5cb05c 50%,
        #256ba8 50%,
        #256ba8 62.5%,
        #9056e1 62.5%,
        #9056e1 75%,
        #9a559b 75%,
        #9a559b 87.5%,
        #ee3590 87.5%);
    background-position: center;
    background-size    : 150%;
    border-radius      : 100px;
    color              : hsl(var(--l-contrast));
    font-family        : var(--font-sans);
    font-size          : 1rem;
    font-weight        : bold;
    line-height        : 2;
    padding-inline     : var(--space);
    width              : -moz-fit-content;
  }

  @media (min-width: 45rem) {
    grid-template-columns: 25rem minmax(25rem, 1fr);
    grid-template-rows   : 1fr;
    column-gap           : var(--space-xl);

    &> :not(.person__image) {
      grid-column: 2;
    }

    .person__image {
      grid-row: 1/5;
      margin  : 0;
    }

    .post__title {
      align-self: end;
    }
  }
}

.post-card {
  --rg                 : radial-gradient(ellipse at bottom right, hsl(var(--tc)), hsl(var(--tc)/50%), hsl(var(--tc)/0%));
  --rg-1               : radial-gradient(circle at 75% 100%, hsl(var(--tc)), hsl(var(--tc)/50%), hsl(var(--tc)/0%));
  --rg-2               : radial-gradient(circle at center 80%, hsl(var(--tc)), hsl(var(--tc)/50%), hsl(var(--tc)/0%));
  --tc                 : var(--theme-color);
  --theme-color        : var(--theme-color-light, var(--primary-100));
  background-image     : var(--rg), var(--rg-1), var(--rg-2), var(--post-image);
  background-position  : center;
  background-repeat    : no-repeat;
  background-size      : cover;
  border-radius        : var(--space-l);
  display              : grid;
  grid-template-columns: repeat(auto-fit, minmax(35ch, 1fr));
  overflow             : auto;
  width                : 100%;

  @media (prefers-color-scheme: dark) {
    --theme-color: var(--theme-color-dark, var(--primary-700))
  }

  &::before {
    content   : '';
    min-height: 10ch;
  }

  &__inner {
    padding    : var(--space-l);
    padding-top: 10ch;
  }

  &__metadata {
    align-items: center;
    display    : flex;
    gap        : 1ch;
    font-family: var(--font-sans);

    &::before {
      content         : '';
      height          : 0.5ch;
      width           : 0.5ch;
      background-color: currentColor;
      border-radius   : 100%;
      order           : 1;
    }
  }

  &__pubdate {
    order: 2;
  }

  &__title {
    margin   : 0;
    font-size: clamp(var(--type-size-5), 10vw, var(--type-size-4));

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__tags {
    margin         : 0;
    padding        : 0;
    display        : flex;
    gap            : 1ch;
    list-style     : none;
    justify-content: end;

    .tag {
      background-color: hsl(var(--bg-primary) / 50%);
      text-decoration : none;
      padding-inline  : 1ch;
      padding-block   : 0.5ch;
      border-radius   : var(--ideal-radius);
      text-transform  : uppercase;
      font-weight     : bold;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.post-card-grid {
  display              : grid;
  gap                  : var(--space);
  grid-template-columns: repeat(auto-fill, minmax(30ch, 1fr));
  margin-inline        : auto;
  padding              : var(--space-xl);
  width                : min(180ch, 100%);

  .post-card:nth-child(1),
  .post-card:nth-child(4n+1) {
    grid-column: 1/-1;
  }
}