.scroller {
  overflow: auto;

  &.horizontal {
    display: flex;
    flex-wrap: nowrap;
  }
}

.slideset-link {
  display: contents;

  img {
    border-radius: var(--ideal-radius);
    max-height: 25ch;
    overflow: clip;
    @include box-shadow(12, 3, hsl(var(--d-contrast) / 5%));
  }
}

.slide {
  background-color: hsl(var(--bg-secondary) / 25%);
  display: grid;
  min-height: 80vh;

  &.center-aligned {
    align-items: center;
  }
}

.slideset-title {
  color: hsl(var(--fg-default));
  font-size: clamp(var(--type-size-1) / 2, 10vw, var(--type-size-1) * 2);
}
