.content-grid {
  grid-template-columns: 1fr min(75ch, 100%) 1fr;
  padding: var(--space);
  max-width: 90vw;
  margin: auto;
  min-width: 65% !important;

  @media (min-width: 75ch) {
    display: grid;
  }

  & > * {
    grid-column: 2;
  }

  .full-bleed {
    width: 100%;
    grid-column: 1/4;
    margin-inline: 0;

    img {
      min-width: 50%;
    }
  }

  figure:not(.quotation) {
    &:not(.full-bleed) {
      img {
        max-width: 100%;
        margin: auto;
      }
    }
    figcaption {
      text-align: center;
      color: hsl(var(--fg-subtle));
      max-width: 65ch;
      margin: auto;

      &::before {
        content: "Figure: ";
        font-weight: bold;
      }
    }
  }
}
