.cluster {
  display  : flex;
  flex-wrap: wrap;
  gap      : var(--cluster-gap, var(--space-xs));

  &.spaced {
    justify-content: space-between;
  }

  &.end-justified {
    justify-content: flex-end;
  }

  &.center-aligned {
    align-items: center;
  }

  &.center-justified {
    justify-content: center;
  }
}