.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sidebar-gap, var(--space-m));
}

.sidebar {
  flex-grow: 1;
  flex-basis: var(--sidebar-width, 35ch);
}

.not-sidebar {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 50%;
}
