---
eleventyExcludeFromCollections: true
name: Alan Turing
date: 2022-06-20
sexuality: gay
born: 1912
death: 1954
image: /assets/images/pride/people/Alan-Turing.jpg
story: Computer scientist, mathematician at cryptanalyst, developer ng Turing machine at Turing test, at ama ng theoretical computer science at artificial intelligence. Pinatawan ng parusang chemical castration para sa pagiging bakla.
quote:
  - lang: en
    content: When he was arrested, the first thing he said was <span class="highlight">he thought that [being gay] shouldn’t be against the law</span>
seo_image:
  og: /assets/images/pride/people/alan-turing/og.png
  twitter: /assets/images/pride/people/alan-turing/twitter.png
---
<style>
  .slide__content a {
    color: hsl(var(--fg-contrast));
  }
  .slide__blockquote {
    display: none;
  }

  @media (min-width: 960px) {
    .slide__blockquote {
      display: flex;
      flex-direction: column;
    }

    .slide__blockquote cite {
      font-style: normal;
      font-size: small;
      margin-top: 2ch;
    }

    #slide-1 {
      grid-template-rows: 2fr repeat(6, 1fr) 2fr;
    }

    #slide-1 .slide__content {
      grid-row: 2/7;
      grid-column: 1/4;
      width: 100%;
      max-width: 65ch;
      margin: auto;
    }

    #slide-2 .slide__content {
      grid-column: 1/4;
      grid-row: 3/-1;
      margin: auto;
    }

    #slide-3 .slide__background {
      object-position: left bottom;
    }

    #slide-3 .slide__content {
      grid-column: 1/7;
      grid-row: 1 / span 3;
      color: hsl(var(--fg-contrast));
    }

    #slide-4 {
      grid-template-columns: repeat(12, 1fr);
    }

    #slide-4 .slide__content {
      grid-column: 7/-1;
      grid-row: 1/-1;
      margin: auto;

    }

    #slide-4 .slide__background {
      object-fit: contain;
      object-position: left;
      margin-left: -15vw;
    }

    #slide-4 .slide__blockquote {
      grid-row: 2/-1;
      grid-column: 3/span 4;
      font-size: clamp(var(--type-size-6), 5vw, var(--type-size-5));
    }

    #slide-5 {
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(12, 1fr);
    }

    #slide-5 .slide__content {
      grid-column: 1/9;
      grid-row: 2/-1;
      max-width: 70ch;
      padding: var(--space-xxl);
      margin: auto;
    }
  }

  #slide-4 {
    background: hsl(var(--bg-secondary));
  }
</style>
<div class="slide" id="slide-1">
  <img src="/assets/images/pride/people/alan-turing/1.png" alt="" class="slide__background">
  <div class="slide__content stack">
    <p>Si Alan Turing ay isang mathematician, logician, at cryptanalyst mula sa southern England. Kilala siya ngayon para sa mga kontribusyon niya sa larangan ng artificial intelligence at modernong computer science. Pero higit siyang kilala para sa "Turing Test", isang test na nagsasabing kung kaya ng isang machine na magkunwaring tao sa isang pag-uusap, masasabing nag-iisip ang machine na ito. Ayon sa website ng CIA, wala pang computer na nakakapasa sa pagsusulit na ito ngayon.</p>
    <p>Pero bukod sa popular na Turing Test, naging maimpluwensya rin si Alan Turing sa panahon ng World War II, kung saan ginamit niya ang mga kakayahan niya sa mathematics at cryptology para masira ang isa sa pinakamahihirap na ciphers ng Germany, ang ENIGMA.</p>
    <ol class="footnotes">
      <li>
        <a href="https://www.cia.gov/stories/story/the-enigma-of-alan-turing/">https://www.cia.gov/stories/story/the-enigma-of-alan-turing/</a>
      </li>
      <li>
        <a href="https://www.britannica.com/biography/Alan-Turing/Computer-designer">https://www.britannica.com/biography/Alan-Turing/Computer-designer</a>
      </li>
    </ol>
  </div>
</div>

<div class="dark slide" id="slide-2">
  <img src="/assets/images/pride/people/alan-turing/2.png" alt="" class="slide__background">
  <div class="slide__content stack">
    <p>Isa sa mga ambag ni Alan Turing ay ang Turing machine. Isa itong hypothetical na machine na kayang mag-run ng kahit na anong algorithm. Mahirap buohin ang Turing machine dahil in theory, kailangan nito ng unlimited na supply ng power para i-solve ang kahit na anong computational problem.</p>
    <p>Sa ngayon, mahalaga ang pagiging "Turing complete" sa mga general purpose programming language gaya ng JavaScript, C/C++, Java, at C#. Kapag ang isang programming language ay Turing complete, puwedeng i-implement ang kahit na anong algorithm sa programming language na ito.</p>
    <ol class="footnotes">
      <li>
        <a href="https://qr.ae/pvo8AR">https://qr.ae/pvo8AR</a>
      </li>
      <li>
        <a href="https://en.wikipedia.org/wiki/Turing_machine">https://en.wikipedia.org/wiki/Turing_machine</a>
      </li>
    </ol>
  </div>
</div>

<div class="dark slide" id="slide-3">
  <img src="/assets/images/pride/people/alan-turing/3.png" alt="" class="slide__background">
  <div class="slide__content stack">
    <p>Isa si Alan Turing sa mga kinikilalang founding father ng artificial intelligence at modernong cognitive science. Isa siya sa mga nangungunang tagapagtaguyod ng hypothesis na ang utak ng tao ay maikukumpara sa isang digital computing machine.</p>
    <p>Ayon kay Turing, isang "unorganised machine" ang cortex sa kapanganakan ng tao, at nagiging organisado ito para maging isang "universal machine" o katulad nito. Base sa mga teoryang ito, naging mas epektibo ang mga neural network na ginagamit sa modernong machine learning at artificially intelligent systems sa panahon natin ngayon.</p>
    <ol class="footnotes">
      <li>
        <a href="https://www.britannica.com/biography/Alan-Turing/Computer-designer">https://www.britannica.com/biography/Alan-Turing/Computer-designer</a>
      </li>
      <li>
        <a href="https://link.springer.com/article/10.1007/s12065-011-0060-5">https://link.springer.com/article/10.1007/s12065-011-0060-5</a>
      </li>
      <li>
        <a href="https://www.psychologytoday.com/us/blog/good-thinking/201312/what-alan-turing-gave-psychology">https://www.psychologytoday.com/us/blog/good-thinking/201312/what-alan-turing-gave-psychology</a>
      </li>
    </ol>
  </div>
</div>

<div class="dark slide" id="slide-4">
  <img src="/assets/images/pride/people/alan-turing/4.png" alt="" class="slide__background">
  <blockquote class="slide__blockquote">
    <p>After he’d been revealed as gay in 1952, he couldn’t do any more secret work. It would have been hard to accept that he was not trusted.</p>
    <cite>Andrew Hodges</cite>
  </blockquote>
  <div class="slide__content stack">
    <p>Ayon kay Andrew Hodges, isang mathematician at author ng biography ni Alan Turing, hindi inilihim ni Alan Turing ang kaniyang seksuwalidad sa mga kaibigan niya. Ito ay sa kabila ng pagiging ilegal ng pagiging bakla sa lugar nila. Noong 1952, sa edad na 39, kinasuhan si Alan Turing ng gross indecency sa ilalim ng Criminal Law Amendment Act 1885 pagkatapos niyang aminin na siya ay may karelasyong lalaki.</p>
    <p>Pinili ni Alan Turing na sumailalim sa probation sa halip na makulong. Para sa probation, pinarusahan si Alan Turing ng pagkakapon gamit ang kemikal (chemical castration). Dahil sa parusang ito, nabaog si Alan Turing at nagkaroon ng gynecomastia, isang abnormal na pagtubo ng suso sa mga lalaki. Dahil sa kaniyang criminal record, at dahil nakikita ang pagiging bakla bilang isang security risk, nawala ang clearance ni Turing at natanggal siya sa trabaho. Noong June 8, 1954, natagpuang patay si Alan Turing sa kaniyang bahay sa edad na 41. Opisyal na idineklarang suicide ang dahilan ng kaniyang kamatayan.</p>
    <ol class="footnotes">
      <li>
        <a href="https://www.pbs.org/newshour/science/8-things-didnt-know-alan-turing">https://www.pbs.org/newshour/science/8-things-didnt-know-alan-turing</a>
      </li>
      <li>
        <a href="https://www.britannica.com/biography/Alan-Turing/Computer-designer">https://www.britannica.com/biography/Alan-Turing/Computer-designer</a>
      </li>
      <li>
        <a href="https://en.wikipedia.org/wiki/Alan_Turing#Conviction_for_indecency">https://en.wikipedia.org/wiki/Alan_Turing#Conviction_for_indecency</a>
      </li>
      <li>
        <a href="https://sitn.hms.harvard.edu/flash/2012/turing-biography/">https://sitn.hms.harvard.edu/flash/2012/turing-biography/</a>
      </li>
    </ol>
  </div>
</div>

<div class="dark slide" id="slide-5">
  <img src="/assets/images/pride/people/alan-turing/5.png" alt="" class="slide__background">
  <div class="slide__content stack">
    <p>Noong 2009, sa ngalan ng British government, nag-issue ng public apology ang noo'y British Prime Minister na si Gordon Brown para sa naging pagtrato kay Alan Turing. Tinawag niya itong "utterly unfair". Pagkalipas ng apat na taon, noong 2013, binigyan ni Queen Elizabeth II si Alan Turing ng royal pardon. Siya rin ang kasalukuyang mukha sa perang papel na 50 pounds ng Bank of England bilang pagpupugay sa kaniyang kontribusyon.</p>
    <p>Inspirasyon sa maraming LGBTQ+ si Alan Turing, lalo na para sa mga nasa larangan ng computer science at information technology. Pero ang naging kapalaran niya ay isang mapait na patotoo sa kalupitang nararanasan ng mga miyembro ng LGBTQ+ community, na sa ilang kaso ay legal at walang pinalalampas, kahit isa ka pang bayaning tumulong na tumapos ng isang digmaang pandaigdig, kagaya ni Alan Turing. Isipin natin kung ilang matatalinong imbentor, henyong innovators, at mahuhusay na tao sa kanilang mga larangan ang posibleng nawala sa atin dahil sa karahasan at kawalan ng pagkakapantay-pantay laban sa kanila dahil lang sila ay LGBTQ+.</p>
    <p>Ang laban ng LGBTQ+ community sa panahon natin, kasama na ang selebrasyon ng Pride Month, ay isang protesta at sigaw para sa pantay na pagtrato sa lahat, anoman ang kanilang sexual orientation, gender identity, gender expression, o sex characteristics. Isa itong paghingi ng katarungan, nang hindi na muling maulit pa ang mga kalupitang ito sa sinoman.</p>
  </div>
</div>