---
name: Tim Cook
date: 2022-06-11
sexuality: gay
born: 1960
death: null
image: /assets/images/pride/people/tim-cook/1.jpg
story: CEO ng Apple Inc., at unang openly gay CEO sa Fortune 500 list
featured: true
quote:
  - lang: en
    content: If hearing that the CEO of Apple is gay can help someone struggling… or bring comfort… or inspire people to insist on their equality, <span class="highlight">then it’s worth the trade-off with my own privacy</span>.
  - lang: tl
    content: Kung marinig ng isang tao na bakla ang CEO ng Apple at makakatulong iyon sa kaniya… o makakapayapa iyon… o magiging inspirasyon iyon sa mga tao na ipaglaban ang pagkakapantay-pantay nila, <span class="highlight">sulit na sulit na ipagpalit ang privacy ko</span>.
toc:
  - title: Introduction
    anchor: header-slide
  - title: Sino siya?
    anchor: slide-1
  - title: Bakit siya nagladlad?
    anchor: slide-2
  - title: Advocacy at Impact sa LGBTQ+ Community
    anchor: slide-3
  - title: Share
    anchor: footer-slide
---

<section class="dark slide" id="slide-1">
  <img class="slide__background" src="/assets/images/pride/people/tim-cook/1.jpg" alt="Tim Cook">
  <div class="slide__content stack">
    <p>Si Tim Cook ang kasalukuyang CEO ng Apple Inc. Pinalitan niya sa puwesto si Steve Jobs pagkatapos nitong mag-resign. May bachelor’s degree siya sa Industrial Engineering, at master’s degree sa Business Administration.</p>
    <p>Una siyang nagtrabaho sa Intelligent Electronics bilang COO, at naging vice president para sa Compaq. Kalaunan, inanyayahan siya ni Steve Jobs at naging senior vice president for worldwide operations sa Apple Inc. Nag-introduce siya ng mga pagbabago sa production ng Apple Inc. na naging dahilan para magkaroon ng stable supply ng mga device na gaya ng iPod Nano, iPad, at iPhone.</p>
  </div>
</section>

<section class="slide" id="slide-2">
  <img class="slide__background" src="/assets/images/pride/people/tim-cook/2.png" alt="Tim Cook">
  <blockquote class="slide__blockquote">
    <p>I don’t consider myself an activist, but I realize how much I’ve benefited from the sacrifice of others.</p>
  </blockquote>
  <div class="slide__content stack">
    <p>Sa isang editorial piece para sa magazine na <i>Bloomberg Business</i>
      <sup>[1]</sup>, ipinaalam niya sa publiko na bakla siya. Nilinaw niya na bagama’t hindi niya ito inilihim kahit kailan, hindi rin niya ito in-acknowledge sa publiko. Ayon sa kaniya, sinusubukan niyang ingatan ang kakaunting privacy na mayroon siya.</p>
    <p>Pero sa artikulo ding iyon, sinabi niya ang dahilan ng kaniyang paglaladlad sa publiko: <q>if hearing that the CEO of Apple is gay can help someone struggling to come to terms with who he or she is, or bring comfort to anyone who feels alone, or inspire people to insist on their equality, then it’s worth the trade-off with my own privacy.</q>
    </p>
    <ol class="footnotes">
      <li>Cook, Tim. “Tim Cook Speaks Up.” <a href="https://bloomberg.com/">Bloomberg.com</a>, Bloomberg, 31 Oct. 2014, <a href="https://www.bloomberg.com/news/articles/2014-10-30/tim-cook-speaks-up">https://www.bloomberg.com/news/articles/2014-10-30/tim-cook-speaks-up</a>.</li>
    </ol>
  </div>
</section>

<section class="slide" id="slide-3">
  <img class="slide__background" src="/assets/images/pride/people/tim-cook/3.png" alt="Tim Cook">
  <div class="slide__content stack">
    <p>Nang ipaalam niya sa publiko ang kaniyang seksuwalidad, si Tim Cook ang kauna-unahan at kaisa-isang baklang CEO sa Fortune 500, isang annual list na pina-publish ng Fortune magazine na nagra-rank ng 500 sa pinakamalalaking korporasyon sa United States base sa kanilang kinikita.</p>
    <p>Sa kaniyang guest article para sa CBS News, sinabi niya na “We all have a responsibility to set a positive example and that includes companies like ours. We make sure our employees enjoy equal benefits and healthcare protections, and that we create an inclusive environment where everyone can bring their unique experiences to work.“</p>
  </div>
</section>