---
name: Tim Cook
date: 2022-06-11
sexuality: gay
born: 1960
death: null
image: /assets/images/pride/people/Tim-Cook.jpg
story: CEO ng Apple Inc., at unang openly gay CEO sa Fortune 500 list
featured: true
quote:
  - lang: en
    content: If hearing that the CEO of Apple is gay can help someone struggling… or bring comfort… or inspire people to insist on their equality, <span class="highlight">then it’s worth the trade-off with my own privacy</span>.
  - lang: tl
    content: Kung marinig ng isang tao na bakla ang CEO ng Apple at makakatulong iyon sa kaniya… o makakapayapa iyon… o magiging inspirasyon iyon sa mga tao na ipaglaban ang pagkakapantay-pantay nila, <span class="highlight">sulit na sulit na ipagpalit ang privacy ko</span>.
---