---
name: Tim Cook
date: 2022-06-11
sexuality: gay
born: 1960
death: null
image: /assets/images/pride/people/tim-cook/1.jpg
story: CEO ng Apple Inc., at unang openly gay CEO sa Fortune 500 list
featured: true
quote:
  - lang: en
    content: If hearing that the CEO of Apple is gay can help someone struggling… or bring comfort… or inspire people to insist on their equality, <span class="highlight">then it’s worth the trade-off with my own privacy</span>.
  - lang: tl
    content: Kung marinig ng isang tao na bakla ang CEO ng Apple at makakatulong iyon sa kaniya… o makakapayapa iyon… o magiging inspirasyon iyon sa mga tao na ipaglaban ang pagkakapantay-pantay nila, <span class="highlight">sulit na sulit na ipagpalit ang privacy ko</span>.
toc:
  - title: Introduction
    anchor: header-slide
  - title: Sino siya?
    anchor: slide-1
  - title: Bakit siya nagladlad?
    anchor: slide-2
  - title: Advocacy at Impact sa LGBTQ+ Community
    anchor: slide-3
  - title: Share
    anchor: footer-slide
---

<section class="dark slide" id="slide-1">
  <img class="slide__background" src="/assets/images/pride/people/tim-cook/1.jpg" alt="Tim Cook">
  <div class="slide__content stack">
    <p>Si Tim Cook ang kasalukuyang CEO ng Apple Inc. Pinalitan niya sa puwesto si Steve Jobs pagkatapos nitong mag-resign. May bachelor’s degree siya sa Industrial Engineering, at master’s degree sa Business Administration.</p>
    <p>Una siyang nagtrabaho sa Intelligent Electronics bilang COO, at naging vice president para sa Compaq. Kalaunan, inanyayahan siya ni Steve Jobs at naging senior vice president for worldwide operations sa Apple Inc. Nag-introduce siya ng mga pagbabago sa production ng Apple Inc. na naging dahilan para magkaroon ng stable supply ng mga device na gaya ng iPod Nano, iPad, at iPhone.</p>
  </div>
</section>