<div class="margin--auto" style="width: min(75ch, 100%); padding: min(var(--space-xxxl), 10%);">
  {% if not controlsOnly %}
    <h2 class="responsive">Tumatanggap kami ng donations!</h2>
    <p>Kung nakakatulong sa iyo ang content ng Antares Programming, puwede kang makatulong. Tumatanggap ang Antares Programming ng financial donations via GCash.</p>
  {% endif %}

  <div class="transparent bordered rounded box padding">
    <p>Sa GCash app, piliin ang <i>Send Money &gt; Express Send</i>. Ilagay ang number na ito, at ang amount na gusto mong i-donate.</p>

    <label for="gcash-number" class="sr-only">G-cash Number</label>
    <div class="form-group">
      <input value="0906 313 7462" class="form-control" type="text" readonly id="gcash-number">
      <button class="button secondary" data-copy="gcash-number">Copy</button>
    </div>
  </div>
</div>