<div class="donation-banner">
  <div class="donation-banner__inner">
    <h2 class="donation-banner__title">Tulungan ang Antares Programming</h2>
    <p class="donation-banner__description">Tulungan kaming makapaglabas ng mas maraming content para sa mas marami pang developers. Tumatanggap kami ng donations!</p>

    <ul class="donation-banner__actions" role="tablist">
      {% for method in site.donation %}
        <li role="presentation">
          <a role="tab" href="#tabpanel-{{ method.id }}" id="tab-{{ method.id }}" class="button has-icon--left secondary">
            {% set icon = method.icon %}
            {% include 'components/icon.njk' %}
            {{ method.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
    {% for method in site.donation %}
      <section class="padding-block--l" id="tabpanel-{{ method.id }}" role="tabpanel" aria-labelledby="tab-{{ method.id }}" hidden>
        <h3 class="responsive fs-4 margin--none">{{ method.name }}</h3>
        {% set details = method.details %}
        <p class="font-sans margin--none">Account name: <strong>{{ details.name }}</strong>
        </p>

        <div class="stack gap--m padding">
          {% for action in details.actions %}
            <form class="input-group" data-copy-on-submit>
              <input type="text" id="text" data-copy value="{{ action.target }}" readonly>
              {% if action.type == 'copy' %}
                <button class="primary button">
                  {% set feathericon = 'copy' %}
                  {% include 'components/feathericon.njk' %}
                Copy
              </button>
              {% elseif action.type == 'link' %}
                <a href="{{ action.target }}" class="primary button" target="_blank" rel="noopener">
                  {% set icon = method.icon %}
                  {% include 'components/icon.njk' %}
                  {{ action.text }}
                </a>
              {% endif %}
            </form>
          {% endfor %}
        </div>
      </section>
    {% endfor %}
  </div>
</div>