<footer class="stack font-sans">
  <section class="spaced cluster padding--s bg--secondary">
    <p class="margin--none">&copy; 2022 Antares Programming</p>
    <p class="margin--none">Powered by <a href="https://11ty.dev" target="_blank" rel="noopener">Eleventy</a> and <a href="https://netlify.com" target="_blank" rel="noopener">Netlify</a>.</p>
  </section>
  <div class="cluster gap" style="background-color: hsl(var(--bg-secondary) / .75); --basis: 35ch;">
    <section class="stack padding" style="flex: 1; flex-basis: 25ch'">
      <div class="logo">
        <img class="logo__image" src="/assets/images/logo.svg" alt="logo" width="64" height="64">
        <div class="stack">
          <span class="logo__text">
            <span class="weight-bold">Antares</span>
            <span>Programming</span>
          </span>
          <span>For Filipino web developers</span>
        </div>
      </div>
      {% set author = authors['teacherbuknoy'] %}
      <p>Ang Antares Programming ay project ni <a href="{{ author.url }}" target="_blank" rel="noopener">{{ author.name }}</a>.</p>
    </section>
    <div class="stack padding" id="social-media" style="flex: 1; flex-basis: 25ch'">
      <section>
        <h2 class="fs-5">Social Media</h2>
        <div class="cluster gap--m margin-inline--l margin-block--l gap">
          {% for item in site.socials %}
            <a class="button" href="{{ item.url }}" target="_blank" rel="noopener">{{ item.text }}</a>
          {% endfor %}
        </div>
      </section>
    </div>
    <section class="stack padding" id="social-media" style="flex: 1; flex-basis: 25ch'">
      <h2 class="fs-5 margin--none">Join us!</h2>
      <p class="margin--none">Interested in this project? Help us create more content!</p>
      <div class="cluster margin-inline--l margin-block--l gap">
        <a class="button" href="{{ site.named_socials.email.url }}">Send an email</a>
        <a class="button" href="/authors">Authors</a>
      </div>
    </section>
  </div>
</footer>