<nav class="fixed spaced cluster navigation-bar bg--primary" style="width: 100%; z-index: 999; transition: background 300ms, box-shadow 300ms;">
  <div class="logo">
    <img class="logo__image" src="/assets/images/logo.svg" alt="logo" width="64" height="64">
    <span class="logo__text">
      <span class="weight-bold">Antares</span>
      <span>Programming</span>
    </span>
  </div>
  <ul class="cluster padding--s margin--none hide-on-mobile">
    {% for nav in navigation %}
      {% if not nav.hidden %}
        <li class="center-aligned cluster">
          <a href="{{ nav.url }}" class="button fg--default">{{ nav.text }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <div class="relative show-on-mobile cluster center-aligned padding-right--xs">
    <button class="button" data-popover="mobile-nav">
      <svg class="feathericon">
        <use href="/assets/images/feather-sprite.svg#menu"></svg>
      </button>
      <ul id="mobile-nav" class="cluster padding--s margin--none gap--none popover" hidden>
        {% for nav in navigation %}
          {% if not nav.hidden %}
            <li class="center-aligned cluster">
              <a href="{{ nav.url }}" class="button fg--default">{{ nav.text }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
  <div data-intersection-trigger></div>