<nav class="fixed spaced cluster navigation-bar" style="width: 100%; z-index: 999; transition: background 300ms;">
  <div class="logo">
    <img class="logo__image" src="/assets/images/logo.svg" alt="logo" width="64" height="64">
    <span class="logo__text">
      <span class="weight-bold">Antares</span>
      <span>Programming</span>
    </span>
  </div>

  <ul class="cluster padding--s margin--none">
    {% for nav in navigation %}
      <li class="center-aligned cluster">
        <a href="{{ nav.url }}" class="button">{{ nav.text }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
<div data-intersection-trigger></div>