<article class="post-card" style="--post-image: url('{{ item.data.image }}'); --theme-color: {{ item.data.imageColor }}">
  <div class="post-card__inner">
    <div class="post-card__metadata">
      <div class="post-card__read-time">
        {{ item.templateContent | readingTime }}
      </div>
      <time datetime="{{ item.date | machineReadableDate }}" class="post-card__pubdate">{{ item.date | humanReadableDate }}</time>
    </div>
    <h3 class="post-card__title"><a href="{{ item.url }}">{{ item.data.title | safe }}</a></h3>
    <p class="post-card__summary">{{ item.data.description | safe }}</p>
    <ul class="post-card__tags">
      {% for tag in item.data.tags %}
        <li><a href="/tags/{{ tag }}/" class="tag">{{ tag }}</a></li>
      {% endfor %}
    </ul>
  </div>
</article>