<section class="pride-banner">
  <div class="dark inner-banner">
    <div class="stack">
      <h2 class="title">
        <div>Ipinagdiriwang ng Antares Programming ang</div>
        <span class="title-highlight">Pride Month 2022</span>
      </h2>
      <a href="/pride-month-2022/" class="primary button">Suportahan ang LGBTQ+ Community</a>
    </div>
  </div>
  {#<p>Sinusuportahan ng Antares Programming ang laban para sa karapatang pantao ng mga miyembro ng LGBTQ+ community. Patuloy ang ating panawagan para sa paglaban sa diskriminasyon sa mga paaralan, lugar ng trabaho, at pampublikong mga lugar. Sinusuportahan din ng Antares Programming ang pagpapasa ng Anti-Discrimination o SOGIE Bill. Kinikilala rin ng Antares Programming na ang Pride Month ay isang anyo ng pagpoprotesta para sa mas maayos na pagtrato sa mga miyembro ng LGBTQ+ community sa isang panlipunan at legal na antas.</p>#}
</section>