<link type="application/atom+xml" rel="alternate" href="{{ site.domain }}/feed.xml" title="Mga Articles ng Antares Programming"/>

<link rel="manifest" href="/manifest.webmanifest">
<link rel="icon" href="/favicon.ico" sizes="any">
<link rel="icon" href="/icon.svg" sizes="image/svg+xml">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">

<!-- Primary Meta Tags -->
<meta name="title" content="{{ title | safe }}">
<meta name="description" content="{{ description | safe }}">

{% set og_cover = site.seo.images.og %}
{% set twitter_cover = site.seo.images.twitter %}
{% if seo_image %}
  {% set og_cover = seo_image %}
  {% set twitter_cover = seo_image %}

  {% if seo_image.og %}
    {% set og_cover = seo_image.og %}
  {% endif %}

  {% if seo_image.twitter %}
    {% set twitter_cover = seo_image.twitter %}
  {% endif %}

{% endif %}

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ environment.domain }}{{ page.url }}">
<meta property="og:title" content="{{ title | safe }}">
<meta property="og:description" content="{{ description | safe }}">
<meta property="og:image" content="{{ environment.domain }}{{ og_cover }}">

<meta name="facebook-domain-verification" content="u933bsgnk3mx4mtmqxhottvbeb8rpy"/>

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ environment.domain }}{{ page.url }}">
<meta property="twitter:title" content="{{ title | safe }}">
<meta property="twitter:description" content="{{ description | safe }}">
<meta property="twitter:image" content="{{ environment.domain }}{{ twitter_cover }}">