---
title: Object Fit
cover: /assets/images/slidesets/object-fit/cover.png
blurredCover: /assets/images/slidesets/object-fit/blurred-cover.png
description: Iwasang ma-stretch ang images mo!
tags:
  - css
pageScripts:
  - hide-on-value.js
  - controls-css.js
seo_image: /assets/images/slidesets/object-fit/cover.png
date: 2022-04-05
---
<section class="padding--l center-aligned slide">
  <div class="filled cluster">
    <div class="stack" style="flex-basis: 35ch; align-self: start;">
      <span class="topic">Cascading Stylesheets</span>
      <h1 class="slideset-subtitle">Object-Fit</h1>
      <p class="responsive fs-4">Iwasang ma-stretch ang image mo!</p>
      <p>Gamit ang object-fit property, puwede nating i-specify kung paano ire-resize ng browser ang mga image natin nang hindi nasisira ang aspect ratio nito. Kapag cover ang value ng object-fit property, Ire-resize ng browser ang image para sakupin ang buong width at height nito nang hindi nasi-stretch ang image.</p>

      <div class="bordered box margin-top--m">
        <div class="stack" data-show-on-value="fill" data-controlledby="css-object-fit">
          <h3 class="responsive fs-5">
            <code>object-fit: fill</code>
          </h3>
          <p>Ang initial value ng <code>object-fit</code> property. Ise-stretch nito ang image kapag nire-resize.</p>
        </div>
        <div class="stack" data-show-on-value="cover" data-controlledby="css-object-fit" hidden>
          <h3 class="responsive fs-5">
            <code>object-fit: cover</code>
          </h3>
          <p>Iko-cover nito ang buong <code>img</code> element nang hindi nasisira ang aspect ratio. Walang stretching na nangyayari sa image, pero puwedeng ma-crop ang image kapag hindi nagtugma ang aspect ratio nito sa size ng element.</p>
        </div>
        <div class="stack" data-show-on-value="contain" data-controlledby="css-object-fit" hidden>
          <h3 class="responsive fs-5">
            <code>object-fit: contain</code>
          </h3>
          <p>Ime-maintain ng image ang aspect ratio nito, pero hindi nito iko-cover ang buong size ng element. Kapag hindi tugma ang aspect ratio sa size ng element, puwedeng magkaroon ng mga part na blangko (letterbox).</p>
        </div>
        <div class="stack" data-show-on-value="none" data-controlledby="css-object-fit" hidden>
          <h3 class="responsive fs-5">
            <code>object-fit: none</code>
          </h3>
          <p>Hindi ire-resize ang image. Ire-render nito ang image ayon sa actual size nito.</p>
        </div>
        <div class="stack" data-show-on-value="scale-down" data-controlledby="css-object-fit" hidden>
          <h3 class="responsive fs-5">
            <code>object-fit: scale-down</code>
          </h3>
          <p>Pipiliin nito kung alin sa <code>none</code> at <code>contain</code> ang magre-render ng mas maliit na image dimensions at iyon ang ia-apply sa image.</p>
        </div>
      </div>
    </div>
    <div class="stack gap--m" style="flex-basis: 35ch; align-self: start;">
      <div class="interactive-code-sample">
        <span>
          <span style="color: hsl(var(--primary-300))">img</span> {</span>
        <span class="indent declaration">
          <span style="color: hsl(var(--success-300))">object-fit</span>: 
            <select style="color: hsl(var(--secondary-300));"
              class="control"
              id="css-object-fit"
              data-css-selector="#img"
              data-css-property="object-fit"
              data-controls-css
              data-hide-on-value>
              <option value="fill">fill</option>
              <option value="cover">cover</option>
              <option value="contain">contain</option>
              <option value="none">none</option>
              <option value="scale-down">scale-down</option>
            </select>;
          </span>
      </span>
      <span>}</span>
    </div>
    <div class="margin-inline--auto" style="resize: horizontal; border: 2px dashed; overflow: hidden; position: relative; width: auto; height: 35ch; aspect-ratio: 640/961;">
      <img style="width: 100%; height: 100%; position: absolute; top: 0; left: 0;" src="/assets/images/slidesets/object-fit/cat.jpg" alt="Cat" id="img" width="640" height="961">
    </div>
  </div>
</div>
</section>