<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | safe }}</title>
    
    <link type="application/atom+xml" rel="alternate" href="{{ site.domain }}/feed.xml" title="Mga Articles ng Antares Programming" />
    
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/icon.svg" sizes="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <!-- Primary Meta Tags -->
    <meta name="title" content="{{ title | safe }}">
    <meta name="description" content="{{ description | safe }}">

    {% set og_cover = site.seo.images.og %}
    {% set twitter_cover = site.seo.images.twitter %}
    {% if seo_image %}
      {% set og_cover = seo_image %}
      {% set twitter_cover = seo_image %}

      {% if seo_image.og %}
        {% set og_cover = seo_image.og %}
      {% endif %}

      {% if seo_image.twitter %}
        {% set twitter_cover = seo_image.twitter %}
      {% endif %}

    {% endif %}

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.domain }}">
    <meta property="og:title" content="{{ title | safe }}">
    <meta property="og:description" content="{{ description | safe }}">
    <meta property="og:image" content="{{ site.domain }}{{ og_cover }}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ site.domain }}">
    <meta property="twitter:title" content="{{ title | safe }}">
    <meta property="twitter:description" content="{{ description | safe }}">
    <meta property="twitter:image" content="{{ site.domain }}{{ twitter_cover }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    {% eleventyGoogleFonts "https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Livvic:ital,wght@0,400;0,700;1,400;1,700&display=swap" %}
    <link rel="stylesheet" href="/assets/styles/styles.css">
    <style>
      {% block pageStyles %}
      {% endblock %}
    </style>
  </head>
  <body>
    <div id="top"></div>
    {% block content %}
      {{ content | safe }}
    {% endblock %}

    {% include "components/footer.njk" %}

    <a href="#top" class="button circle primary fixed" style="bottom: var(--space-l);z-index: 999;right: var(--space-l);width: 5ch;align-items: center;">
      <svg class="feathericon" aria-hidden="true">
        <use href="/assets/images/feather-sprite.svg#chevron-up"></use>
      </svg>
      <span class="sr-only">Back to top</span>
    </a>
    <div class="notification-container" aria-live="polite" role="log" data-notification-container>
      <div class="toast success" hidden="true">
        <svg class="feathericon">
          <use href="/assets/images/feather-sprite.svg#check-circle"></use>
        </svg>
        <span class="toast__title">This is a toast</span>
        <span class="toast__message">We're just trying to display a toast. That's all.</span>
      </div>
    </div>

    <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
    <script src="/assets/scripts/index.js"></script>
    {% if pageScripts %}
      {% for script in pageScripts %}
        <script src="/assets/scripts/{{ script }}"></script>
      {% endfor %}
    {% endif %}

    <script type="module">
      // Import the functions you need from the SDKs you need
      import {initializeApp} from "https://www.gstatic.com/firebasejs/9.6.2/firebase-app.js";
      import {getAnalytics} from "https://www.gstatic.com/firebasejs/9.6.2/firebase-analytics.js";

      // TODO: Add SDKs for Firebase products that you want to use
      // https://firebase.google.com/docs/web/setup#available-libraries
      // Your web app's Firebase configuration
      // For Firebase JS SDK v7.20.0 and later, measurementId is optional
      const firebaseConfig = {
        apiKey: "AIzaSyB9A4VWIq_kz48iuhKKvIfnSalTPGFg1PE",
        authDomain: "antaresphdev-72672.firebaseapp.com",
        projectId: "antaresphdev-72672",
        storageBucket: "antaresphdev-72672.appspot.com",
        messagingSenderId: "549568688033",
        appId: "1:549568688033:web:9cb397583c3f58ff6be5e0",
        measurementId: "G-FFLJR4NF1Z"
      };

      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
      const analytics = getAnalytics(app);
    </script>
  </body>
</html>