<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | safe }}</title>

    {% include 'components/seo.njk' %}
    <link rel="stylesheet" href="/assets/styles/styles.css">
    {% if stylesheets %}
      {% for sheet in stylesheets %}
        <link rel="stylesheet" href="/assets/styles/{{ sheet }}">
      {% endfor %}
    {% endif %}
    <style>
      {% block pageStyles %}
      {% endblock %}
    </style>
  </head>
  <body>
    <div id="top"></div>
    {% block content %}
      {{ content | safe }}
    {% endblock %}

    {% include "components/footer.njk" %}

    <a href="#top" class="button circle primary fixed" style="bottom: var(--space-l);z-index: 999;right: var(--space-l);width: 5ch;align-items: center;">
      <svg class="feathericon" aria-hidden="true">
        <use href="/assets/images/feather-sprite.svg#chevron-up"></use>
      </svg>
      <span class="sr-only">Back to top</span>
    </a>
    <div class="notification-container" aria-live="polite" role="log" data-notification-container>
      <div class="toast success" hidden="true">
        <svg class="feathericon">
          <use href="/assets/images/feather-sprite.svg#check-circle"></use>
        </svg>
        <span class="toast__title">This is a toast</span>
        <span class="toast__message">We're just trying to display a toast. That's all.</span>
      </div>
    </div>

    <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
    <script src="/assets/scripts/index.js"></script>
    {% if pageScripts %}
      {% for script in pageScripts %}
        <script src="/assets/scripts/{{ script }}"></script>
      {% endfor %}
    {% endif %}

    <script type="module">
      // Import the functions you need from the SDKs you need
      import {initializeApp} from "https://www.gstatic.com/firebasejs/9.6.2/firebase-app.js";
      import {getAnalytics, logEvent} from "https://www.gstatic.com/firebasejs/9.6.2/firebase-analytics.js";

      // TODO: Add SDKs for Firebase products that you want to use
      // https://firebase.google.com/docs/web/setup#available-libraries
      // Your web app's Firebase configuration
      // For Firebase JS SDK v7.20.0 and later, measurementId is optional
      const firebaseConfig = {
        apiKey: "AIzaSyB9A4VWIq_kz48iuhKKvIfnSalTPGFg1PE",
        authDomain: "antaresphdev-72672.firebaseapp.com",
        projectId: "antaresphdev-72672",
        storageBucket: "antaresphdev-72672.appspot.com",
        messagingSenderId: "549568688033",
        appId: "1:549568688033:web:9cb397583c3f58ff6be5e0",
        measurementId: "G-FFLJR4NF1Z"
      };

      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
      const analytics = getAnalytics(app);

      logEvent(analytics, 'page_visited', {url: "{{ page.url }}"})
    </script>
  </body>
</html>