{% extends "layouts/base.njk" %}
{% block content %}
  <a href="#main" class="skip-link">Skip to content</a>
  {% include "components/navigation.njk" %}
  <main class="padding--l" id="main" tabindex="-1" style="margin-inline: auto; width: min(100ch, 100%)">
    <h1>Sorry, masyado kang maaga</h1>
    <p>Hindi pa available ang course na ito. I-follow kami sa aming <a href="#social-media">social media pages</a>, o <a href="/#newsletter">mag-subscribe sa aming newsletter</a> para maka-receive ng updates tungkol sa mga bagong post, courses, at iba pang content.</p>
  </main>
{% endblock %}