---
title: Articles &middot; Antares Programming
description: Mga article tungkol sa web development para sa mga Filipino web developer
pagination:
  data: collections.posts
  reverse: true
  size: 12
permalink: /articles/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html
---

<h1 class="margin-inline--xl margin-block--none">Articles</h1>

<div class="post-card-grid">
  {% set posts = collections.posts | reverse %}
  {% for item in pagination.items %}
    {% set hasImage = loop.index0 % 4 === 0 %}
    {% include 'components/post-card.njk' %}
  {% endfor %}
</div>

<div class="center-justified cluster padding--l">
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}" class="button">Previous</a>
  {% endif %}

  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}" class="button">Next</a>
  {% endif %}
</div>

<div class="stack padding--l text-align--center" style="--stack-gap: var(--space);align-items: center;">
  <p class="fs-5">Maging updated sa mga bago naming article!</p>
  <a href="/feed.xml" class="button primary">
  {% set feathericon = 'rss' %}
  {% include "components/feathericon.njk" %}
  <span>Mag-subscribe sa RSS feed namin</span>
  </a>
</div>