---
title: Authors &middot; Antares Programming
description: Mga author at contributors ng Antares Programming
pagination:
  data: authors
  size: 12
permalink: /authors/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html
---

<h1 class="margin-inline--xl margin-block--none">Authors</h1>

<div class="padding--l" style="display: grid;grid-template-columns: repeat(auto-fill, minmax(min(25ch, 100%), 1fr));">
  {% for key in pagination.items %}
    {% set item = authors[key] %}
    <article class="card text-center gap--none jc--center" style="display: grid;">
      {% set options = { src: item.photo, classes: "circle", alt: item.name, sizes: "", widths: [260], width: 180, height: 180 } %}
      <div class="m-block-end--m m-inline--auto" style="width: min(15ch, 100%)">{% img options %}</div>
      <h2 class="margin--none fs-5"><a href="/authors/{{ key }}">{{ item.name }}</a></h2>
      {% if item.bio %}
      <p class="margin--none">{{ item.bio }}</p>
      {% endif %}
    </article>
  {% endfor %}
</div> 
