---
eleventyComputed:
  title: "{{ authors[authorKey].name }} &middot; Antares Progamming"
description: Mga author at contributors ng Antares Programming
pagination:
  data: authors
  size: 1
  alias: authorKey
permalink: /authors/{{ authorKey }}/index.html
---
{% set author = authors[authorKey] %}
<div class="with-sidebar">
  <div class="sidebar padding--l" style="background: hsl(var(--bg-secondary) / 25%);">
    <div class="text-center" style="position: sticky;top: 7rem;">
      <img src="{{ author.photo }}" alt="{{ author.name }}" class="circle m-block-end--m m-inline--auto" style="width: min(15ch, 100%);">
      <h1 class="fs-4 m--none">{{ author.name }}</h1>
      <p class="m--none" style="font-size: calc(var(--type-size-5) - (var(--type-size-5) * 0.15))">{{ author.bio }}</p>
      <a class="d-block" href="{{ author.url }}">{{ author.url }}</a>
      <a class="d-block" href="mailto:{{ author.email }}">{{ author.email }}</a>

      {% if author.socials and author.socials.length > 0 %}
        <div class="cluster jc--center margin-top--m">
          {% for social in author.socials %}
            <a href="{{ social.url }}" class="button padding--m">
              {% set feathericon = social.feathericon %}
              {% include 'components/feathericon.njk' %}
              <span class="sr-only">{{ social.name }}</span>
            </a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
  <div class="not-sidebar padding--l">
    <h2 class="fs-3">Mga article ni {{ author.name }}</h2>
    <div class="padding--l cards-grid">
      {% set posts = collections.posts | reverse %}
      {% for item in posts %}
        {% if item.data.author === authorKey %}
          {% set hasImage = loop.index0 % 4 === 0 %}
          {% include 'components/post-card.njk' %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>