---
title: "Mag-donate sa Antares Programming"
description: "Puwede kang mag-donate sa amin para matulungan kaming i-maintain ang project na ito."
permalink: /donations/
---

<div class="padding--xxxl cluster center-justified center-aligned">
  <div style="width: min(65ch, 100%)">
    <h1 class="margin--none">Mag-donate sa Antares Programming</h1>
    <p class="fs-5">Puwede kang mag-donate sa amin para matulungan kaming i-maintain ang project na ito.</p>
    <p>Ang hindi alam ng marami, walang team ang Antares Programming. Mag-isa lang akong nagme-maintain ng project na ito. Masaya akong gawin ito. Pero kasabay nito, may trabaho rin akong full time para suportahan ang sarili ko at ang pamilya ko.</p>
    <p>Sa tulong ng mga donasyon ninyo, matutulungan akong i-maintain ang project na ito para mas marami pa ang makinabang sa mga project ng Antares Programming. Gagamitin ang lahat ng donations ninyo para sa gastusin sa project na ito gaya ng kuryente, computer repairs, internet connection, at kape. 😉</p>
  </div>
</div>

{% set controlsOnly = true %}
{% include "components/donation-banner.njk" %}