---
title: Instagram Links
description: Galing ka ba sa Instagram account namin? Nandito ang lahat ng links na ipinost namin.
permalink: /instagram/
stylesheets: ['instagram.css']
---
<header class="spaced cluster ai--center padding--m">
  <h1 class="fs-3">Mula sa aming Instagram page</h1>
  <a target="_blank" rel="noopener" href="{{ site.named_socials.instagram.url }}" class="primary button">I-follow kami sa {{ site.named_socials.instagram.name }}</a>
</header>
<ul class="instagram-grid">
  {% for item in instagram | reverse %}
    {% if not item.exclude %}
      <li>
        <a href="{{ item.link }}" class="instagram-link">
          <img src="{{ item.image }}" alt="{{ item.alt }}">
          <span class="dark instagram-title">{{ item.title }}</span>
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>