---
title: "Naka-subscribe ka na sa newsletter ng Antares Programming"
description: "Makakatanggap ka na ng emails tungkol sa mga bagong activity ng Antares Programming"
permalink: /newsletter/success/
---

<div class="padding--xxxl cluster center-justified center-aligned">
  <div style="width: min(65ch, 100%)">
    <h1 class="margin--none">Registration success!</h1>
    <p class="fs-5">Makakatanggap ka na ng occassional emails mula sa Antares Programming kapag may bago kaming posts. Isa ka rin sa unang makakaalam kapag may mga bago kaming gagawin in the future. Maraming salamat!</p>
    <div class="cluster">
      <a href="/donations" class="primary button">Mag-donate sa amin</a>
      <a href="/" class="button">Bumalik sa front page</a>
    </div>
  </div>
</div>