---
title: "Pride Month 2022"
description: "Impormasyon tungkol sa Pride Month, at kung paano ka makakatulong na suportahan ang LGBTQ+ Community"
permalink: /pride-month-2022/
---

<section class="pride-banner">
  <div class="dark inner-banner">
    <div class="stack">
      <h2 class="title">
        <div>Ipinagdiriwang ng Antares Programming ang</div>
        <span class="title-highlight">Pride Month 2022</span>
      </h2>
    </div>
  </div>
  <p class="fs-5">Sinusuportahan ng Antares Programming ang laban para sa karapatang pantao ng mga miyembro ng LGBTQ+ community. Patuloy ang ating panawagan para sa paglaban sa diskriminasyon sa mga paaralan, lugar ng trabaho, at pampublikong mga lugar. Sinusuportahan din ng Antares Programming ang pagpapasa ng Anti-Discrimination o SOGIE Bill. Kinikilala rin ng Antares Programming na ang Pride Month ay isang anyo ng pagpoprotesta para sa mas maayos na pagtrato sa mga miyembro ng LGBTQ+ community sa isang panlipunan at legal na antas.</p>
</section>
<section class="padding-inline--l">
  <div class="content-wrapper margin--auto">
    <p>Hindi lang isang selebrasyon ang Pride Month. Isa itong protesta, isang panawagan para sa mas maayos na pagtrato sa mga lesbian, gay, bisexual, transgender, queer, intersex, asexual, at iba pang gaya nito (LGBTQIA+). Sa Pilipinas, maraming kaso ng hate crime, harrassment, karahasan, at pag-atake sa mga LGBTQIA+ ang naitala, kabilang na ang mga nakakaapekto sa mga lugar ng trabaho, paaralan, at pampublikong lugar.</p>
    <p>Kapag pinagdiriwang natin ang Pride Month, nakikiisa tayo sa panawagan para sa pagbabago sa pagtrato sa mga LGBTQIA+. Nakikiisa tayo sa panawagan na magkaroon ng pagbabago sa kultura ng mga Pilipino na nakakasamá para sa mga LGBTQIA+. Pakikiisa rin ito sa panawagan sa mga mambabatas natin na protektahan ang LGBTQIA+ sa pamamagitan ng paggawa ng mga batas laban sa diskriminasyong nakabatay sa sexual orientation, gender identity, gender expression, at sex characteristics (SOGIESC). At higit sa lahat, sa pagdiriwang ng Pride Month, kinikilala mo ang mga sarili mong bias laban sa mga LGBTQIA+, at na responsibilidad mong baguhin at alisin ang mga ito.</p>
  </div>

  <p class="fs-4 content-wrapper margin-left--auto">Ang pagsuporta mo sa LGBTQIA+ community, at pakikiisa sa pagdiriwang ng Pride Month ay nangangahulugan na kaisa ka sa panawagan para sa mga batas na poprotekta sa komunidad ng LGBTQIA+.</p>
</section>

<section class="padding--xl">
  <h2 class="fs-4">Mga Resources</h2>
  <ul class="pride-people">
    <li>
      <a href="https://mmpride.org/" class="pride-person">
        <img src="/assets/images/pride/resources/mmpride.png" alt="Website ng Metro Manila Pride">
        <h3 class="pride-person__name">Metro Manila Pride</h3>
        <div class="cluster">Website</div>
        <p>Metro Manila Pride is a volunteer-managed, non-partisan, not-for-profit organization dedicated to educating, equipping and empowering the Filipino LGBTQIA+ and their communities to work towards a future that recognizes and respects the rights of LGBTQIA+ persons to a dignified life without discrimination and prejudice.</p>
      </a>
    </li>
    <li>
      <a href="https://upbabaylan.org/" class="pride-person">
        <img src="/assets/images/pride/resources/upbabaylan.png" alt="Website ng UP Babaylan">
        <h3 class="pride-person__name">UP Babaylan</h3>
        <div class="cluster">Website</div>
        <p>The longest-running LGBTQI student organization in Asia</p>
      </a>
    </li>
    <li>
      <a href="https://queerscientistsph.medium.com/" class="pride-person">
        <img src="/assets/images/pride/resources/queerscientistph.png" alt="Website ng Queer Scientists PH">
        <h3 class="pride-person__name">Queer Scientists PH</h3>
        <div class="cluster">Website</div>
        <p>Telling stories of queer Filipinos in STEM</p>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/rrightsphl" class="pride-person">
        <img src="/assets/images/pride/resources/rainbowrights.jpg" alt="Twitter account ng Rainbow Rights Philippines">
        <h3 class="pride-person__name">Rainbow Rights Philippines</h3>
        <div class="cluster">Twitter</div>
        <p>Helping persons of diverse SOGIE though legal literacy and empowerment w/ respect to SOGIE and gender based laws and policies</p>
      </a>
    </li>

  </ul>
</section>

{#<section class="padding--xl">
  <h2 class="fs-4">Mga Mahahalagang Tao</h2>
  <ul class="pride-people">
    {% for item in collections.pridePeople %}
      <li class="{{ "featured" if item.data.featured }}">
        <a href="{{ item.url }}" class="pride-person">
          <img src="{{ item.data.image }}" alt="{{ item.data.name }}">
          <h3 class="pride-person__name">{{ item.data.name }}</h3>
          <div class="cluster">
            {% if item.data.death %}
              <span class="pride-person__lifespan">{{ item.data.born }}-{{ item.data.death }}</span>
            {% else %}
              <span class="pride-person__lifespan">born {{ item.data.born }}</span>
            {% endif %}
            <span>·</span>
            <div class="pride-person__sexuality">
              {% set sexuality = lgbt[item.data.sexuality] %}
              <img src="{{ sexuality.icon }}" alt="">
              {{ sexuality.name }}
            </div>
          </div>
          <p>{{ item.data.story | safe }}</p>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>#}

{#<div class="with-sidebar">
  <aside class="sidebar padding--l" style="flex-basis: 40ch;">
    {% set author = "teacherbuknoy" %}
    {% set authorDetails = authors[author] %}
    <div class="cluster center-aligned">
      {% set imgAlt %}{{ authorDetails.name }}'s photo{% endset %}
      {% image authorDetails.photo, "avatar", authorDetails.name, "", [64] %}
      <address class="stack" style="font-style: normal;">
        <a href="/authors/{{ author }}/" class="weight-bold fs-5">{{ authorDetails.name }}</a>
        <span class="fs-6">{{ authorDetails.bio }}</span>
      </address>
    </div>
  </aside>
  <div class="not-sidebar content-grid">
    <p>Nakikiisa ang Antares Programming sa pagdiriwang ng Pride Month 2022. Sa halip na makiuso, gusto ko sana, bilang creator ng project na ito, na gamitin ang platform na mayroon tayo para mag-share ng info tungkol sa mga problemang dinaranas ng mga miyembro ng LGBTQ+ community. Bilang bisexual, nararanasan ko mismo ang marami sa mga problemang ito. Kaya naman kahit sine-celebrate natin ang diversity ng mga taong nag-a-identify sa iba't ibang sexuality, gender identity, at gender expression, mahalaga rin na mabigyan natin ng liwanag ang mga problemang ito, pati na ang mga magagawa natin para makatulong.</p>

    <h2>Mga Mahahalagang Tao sa Tech Industry</h2>
    <p>Sa buong buwan ng June 2022, magpi-feature tayo sa ating mga official social media pages ng mga mahahalagang tao sa history ng tech industry na miyembro din ng LGBTQ+ community. Mahalagang makita ng lahat na noon pa man, may mga LGBTQ+ nang nag-e-exist, at nasa paligid natin sila, kasama nating gumagawa ng progress sa ating kasaysayan.</p>

    <p>Sa trahedya ng kuwento ni Alan Turing, ang ama ng artificial intelligence at theoretical computer science, makikita natin na gaanoman kalaki ang maitulong ng isang LGBTQ+ sa kaniyang bansa, pati na sa pangkalahatang pag-unlad ng mundo, nakikita pa rin sila ng lipunan bilang mga mabababang uri ng tao dahil sa kanilang kasarian, pagkakakilanlan, at sekswalidad.</p>

    <p>Sa kuwento naman ng maraming mga LGBTQ+ activists na gaya nina Edith Windsor, Lynn Conway, at Mary Ann Horton, makikita natin na kaya nating pagsabayin ang pagkakaroon ng impluwensya sa pag-unlad ng teknolohiya at pagsusulong ng kalayaan at karapatang pantao. At hindi rin kailangang magkaroon ng malalaking activity para makatulong. Gaya sa kaso ni Tim Cook, malaking tulong na ang paglaladlad niya publicly para makatulong na gawing normal ang pagkakaroon ng iba't ibang SOGIE.</p>

    <p>Sa effort na ito, umaasa tayo na makapagsimula ng mga makabuluhan usapan na makakatulong sa lahat na pag-isipan ang current situation ng mundo para sa mga LGBTQ+ people.</p>

    <h2>Ang puwede mong maitulong</h2>
    <p>Kung ikaw ay ally, o isa ring miyembro ng LGBTQ+ community, maraming paraan para makatulong. Isa sa pinakamahalagang magagawa mo ay ang pagsuporta sa pagpapasa ng <a href=https://en.wikipedia.org/wiki/SOGIE_Equality_Bill">Anti-Discrimination Bill o SOGIE Equality Bill</a>. Isa itong batas na poprotekta sa <em>lahat</em>, hindi lang sa mga LGBTQ+, laban sa diskriminasyong nakabase sa sekswalidad, gender identity, o gender expression. Makakatulong ang pag-tweet, share, at pag-post mo ng iyong suporta para dito para maipaalam sa ating mga mambabatas na makakatulong ang batas na ito sa ating lahat.</p>


  </div>
</div>#}