---
title: Infographics &middot; Antares Programming
description: Mga infographic tungkol sa web development.
pagination:
  data: collections.slidesets
  reverse: true
  size: 12
permalink: /slidesets/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html
---

<h1 class="margin-inline--xl margin-block--none">Infographics</h1>
<div class="padding--l" style="width: min(100ch, 100%); margin-inline: auto; display: grid; grid-template-columns: repeat(auto-fill, minmax(min(25ch, 100%), 1fr))">
  {% for slide in collections.slidesets %}
    {% if not slide.data.hidden %}
      <a href="{{ slide.url }}" class="slideset-link">
        <img src="{{ slide.data.cover }}" alt="{{ slide.data.title }}" class="slide-cover">
        <span class="sr-only">{{ slide.data.title }}</span>
      </a>
    {% endif %}
  {% endfor %}
</div>