---
title: "Articles by tagged {{ tag }}"
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
permalink: /tags/{{ tag }}/
---

<div class="padding--l">
  <h1>Tagged <span class="topic">{{ tag }}</span></h1>
  <div class="cards-grid">
    {% set taglist = collections[tag] %}
    {% for item in taglist | reverse %}
      {% set hasImage = loop.index0 % 4 === 0 %}
      <article class="card{{ " has-image" if hasImage }}">
      {% if hasImage %}
        <a href="{{ item.url }}">
          {% respimg
            src = item.data.image,
            width = "600",
            height = "337.5",
            sizes = "300, 600, 900, 1200",
            alt = item.data.title,
            class = "card__image",
            loading = "lazy"
          %}
        </a>
      {% endif %}
        <div class="card__body">
          <h2 class="card__title">
            <a class="card__link" href="{{ item.url }}">{{ item.data.title }}</a>
          </h2>
          <p>{{ item.data.description }}</p>
          <div class="spaced cluster">
            {% if item.data.author and authors[item.data.author] %}
              {% set author = authors[item.data.author] %}
              <a href="/authors/{{ item.data.author }}/" class="fg-theme-color card__link">{{ author.name }}</a>
            {% else %}
              <span class="weight-bold">Anonymous</span>
            {% endif %}
            <time datetime="{{ item.date | machineReadableDate }}">{{ item.date | humanReadableDate }}</time>
          </div>
        </div>
      </article>
    {% endfor %}
  </div>
</div>