---
title: "Articles by tagged {{ tag }}"
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
permalink: /tags/{{ tag | slugify }}/
---

<div class="padding--l">
  <h1>Tagged <span class="topic">{{ tag }}</span></h1>
  <div class="cards-grid">
    {% set taglist = collections[tag] %}
    {% for item in taglist | reverse %}
      {% set hasImage = loop.index0 % 4 === 0 %}
      {% include 'components/post-card.njk' %}
    {% endfor %}
  </div>
</div>