/* COLORS */
:root {
  --d-contrast: 0 0% 0%;
  --d-default: 0 0% 20%;
  --d-subtle: 0 0% 50%;
  --d-non-essential: 0 0% 75%;

  --l-contrast: 0 0% 100%;
  --l-default: 0 0% 80%;
  --l-subtle: 0 0% 50%;
  --l-non-essential: 0 0% 25%;

  --primary-100: 342 98% 80%;
  --primary-300: 337 87% 68%;
  --primary-500: 335 71% 56%;
  --primary-700: 338 68% 44%;
  --primary-900: 341 82% 31%;

  --secondary-100: 53 100% 79%;
  --secondary-300: 48 100% 71%;
  --secondary-500: 43 94% 61%;
  --secondary-700: 38 82% 46%;
  --secondary-900: 33 100% 34%;
}

/* FONTS */
:root {
  --font-display: "Livvic", sans-serif;
  --font-sans: "Livvic", sans-serif;
  --font-serif: "Lora", serif;
  --font-body: var(--font-sans);

  --type-size: 1rem;
  --type-size-1: 4.209rem;
  --type-size-2: 3.157rem;
  --type-size-3: 2.369rem;
  --type-size-4: 1.777rem;
  --type-size-5: 1.333rem;
  --type-size-6: 1rem;
  --type-size-7: 0.75rem;
  --type-size-8: 0.563rem;
  --type-size-9: 0.422rem;

  --content-width: 65ch;
}

/* SPACES */
:root {
  --space-none: 0;
  --space-auto: auto;
  --space-xxxl: 4rem;
  --space-xxl: 3rem;
  --space-xl: 2rem;
  --space-l: 1.5rem;
  --space: 1rem;
  --space-s: 0.75rem;
  --space-xs: 0.5rem;
  --space-xxs: 0.25rem;
  --space-xxxs: 0.1rem;

  --space-m: var(--space); /* ALIAS */

  --ideal-radius: 6px;
}
