@font-face {
  font-family: "Figtree";
  src: url("/assets/fonts/Figtree-var.ttf") format("truetype");
  font-weight: 100 900;
}

@font-face {
  font-family: "Fraunces";
  src: url("/assets/fonts/Fraunces-var.ttf") format("truetype");
  font-weight: 100 900;
  font-variation-settings: "SOFT" 100, "WONK" 0, "wght" 350;
}

@font-face {
  font-family: "Fraunces";
  src: url("/assets/fonts/Fraunces-ital-var.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-variation-settings: "SOFT" 100, "WONK" 0, "wght" 350;
}