.instagram-grid {
  display              : grid;
  gap                  : 0.25ch;
  grid-template-columns: repeat(3, 1fr);
  list-style           : none;
  margin-block         : 0;
  margin-inline        : auto;
  padding              : var(--space);
  width                : min(100ch, 100%);
  min-height           : 100vh;
  justify-content      : center;
}

.instagram-link {
  aspect-ratio   : 1;
  display        : grid;
  text-decoration: none;

  &>* {
    grid-column: 1/2;
    grid-row   : 1/2;
  }
}

.instagram-title {
  align-items     : end;
  background-color: hsl(var(--bg-secondary) / 50%);
  color           : hsl(var(--fg-contrast));
  display         : flex;
  font-family     : var(--font-display);
  font-size       : clamp(var(--type-size-6), 10vw, var(--type-size-4));
  font-weight     : bold;
  line-height     : 1.2;
  opacity         : 0;
  padding         : var(--space);
  transition      : opacity 200ms;
}

.instagram-link:hover .instagram-title,
.instagram-link:focus-visible .instagram-title {
  opacity: 1;
}