:root {
  scroll-snap-type: y mandatory;
  scroll-padding  : 0;
}

body>footer {
  display: none !important;
}

.button.primary.circle.fixed {
  display: none;
}


.navigation-bar {
  background: transparent;
  box-shadow: none;

  .cluster.center-aligned.padding-right--xs.relative.show-on-mobile {
    display: flex;
  }

  .cluster.padding--s.margin--none.hide-on-mobile {
    display: none;
  }
}


.fullscreen-slider {
  margin-top        : 0 !important;
  min-height        : 100vh;
  display           : grid;
  grid-template-rows: 1fr auto;

  .slide__title {
    font-size: clamp(var(--type-size-4), 10vw, var(--type-size-2));
  }

  .toc {
    grid-row        : 2;
    z-index         : 9;
    position        : sticky;
    bottom          : 0;
    background-color: hsl(var(--bg-primary));

    display: none;

    ul {
      list-style: none;
      display   : flex;
    }

    li {
      flex: 1;
    }
  }

  .toc__link {
    align-items    : center;
    display        : flex;
    font-weight    : bold;
    gap            : 1ch;
    height         : 100%;
    padding-inline : var(--space);
    text-decoration: none;

    &::before {
      aspect-ratio : 1;
      border       : 2px solid hsl(var(--secondary-500));
      border-radius: 100%;
      content      : '';
      flex-basis   : 1.5ch;
      flex-shrink  : 0;
    }

    &.active::before {
      background-color: hsl(var(--secondary-500));
      outline         : 2px solid hsl(var(--secondary-500));
      outline-offset  : 2px;
    }
  }
}

.fullscreen-slider .slide {
  height: 100%;
  width : 100%;
}


.slides {
  display         : flex;
  flex-direction  : column;
  scroll-snap-type: y mandatory;

  .slide {
    min-width        : 100vw;
    height           : 100vh;
    scroll-snap-align: start;
    overflow         : hidden;

    @media (min-width: 960px) {
      grid-template-rows   : repeat(3, 1fr);
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.header.slide {
  gap        : var(--space-xl);
  padding    : var(--space-xl);
  padding-top: 5.5rem;

  @media (min-width: 960px) {
    display        : flex !important;
    align-items    : center;
    justify-content: center;
    align-content  : center;

    &>* {
      flex: 1;
    }

    .slide__person-image {
      max-width : 45ch;
      max-height: 45ch;
    }

    .stack {
      max-width: 45ch;
    }
  }
}

.slide__person-image {
  border-radius: calc(3 * var(--ideal-radius));
  object-fit   : cover;
  height       : 100%;
  width        : 100%;
}

.slide__details {
  max-width: 65ch;
}

.slide__details :is(dt, dd) {
  flex-grow  : 1;
  font-family: var(--font-mono);
  font-weight: bold;
}

.slide__details dd {
  text-align: end;
}

.slide__details .cluster {
  border-bottom: 1px solid hsl(var(--bg-secondary));
  padding      : var(--space-xs);
}

.slide__blockquote {
  font-size  : clamp(var(--type-size-5), 4vw, var(--type-size-2));
  line-height: 1.1;
  margin     : 0;
  order      : -1;
  padding    : 0;

  @media (min-width: 720px) {
    font-size: clamp(var(--type-size-4), 10vw, var(--type-size-3));
  }
}

.slide__blockquote .highlight {
  color      : hsl(var(--warning-700));
  font-weight: bold;
}

.slide__blockquote[lang="en"] p:not([lang="en"]) {
  display: none;
}

.slide__blockquote p {
  margin: 0;

  &::before {
    content: "“";
  }

  &::after {
    content: "”";
  }
}

.slides .slide {
  display              : grid;
  grid-template-columns: 1fr;
  grid-template-rows   : 1fr;

  @media (min-width: 960px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows   : repeat(3, 1fr);
  }
}

.slide__background {
  grid-column: 1/-1;
  grid-row   : 1/-1;
  height     : 100%;
  object-fit : cover;
  width      : 100%;
}

.slide__content {
  background-image: linear-gradient(to top, hsl(var(--bg-primary)) 25%, hsl(var(--bg-primary) / 0%));
  grid-column     : 1/-1;
  grid-row        : 1/-1;
  padding         : var(--space-xl);
}

.stack.slide__content {
  justify-content: end;
  gap            : var(--space);
}

#slide-1 {
  @media (min-width: 960px) {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows   : repeat(3, 1fr);

    .slide__content {
      background     : transparent;
      grid-column    : 1/4;
      grid-row       : 1/3;
      justify-content: center;
      max-width      : 45ch;
      padding        : var(--space-xxl);
    }
  }
}

#slide-2 {

  @media (max-width: 959px) {
    .slide__blockquote {
      display: none;
    }
  }

  @media (min-width: 960px) {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows   : repeat(6, 1fr);

    .slide__blockquote {
      grid-row   : 4/-1;
      grid-column: 1 / span 4;
      z-index    : 1;
      align-self : center;
      padding    : var(--space-xl);
      color      : hsl(var(--l-contrast));
      text-shadow: 0 3px 5px #000a;
    }

    .slide__content {
      background     : transparent;
      grid-column    : 4/-1;
      grid-row       : 1/5;
      justify-content: center;
      justify-self   : center;
      max-width      : 55ch;
      padding        : var(--space-xxl);
    }
  }
}

#slide-3 {
  @media (min-width: 960px) {
    grid-template-columns: repeat(12, 1fr);

    .slide__content {
      background : transparent;
      color      : hsl(var(--l-default));
      grid-column: 7/-1;
      grid-row   : 2;
      margin     : auto;
      width      : 45ch;
    }
  }
}