@import "./reset";
@import "./config";
@import "./mixins";

/* LAYOUTS */
@import "./layouts/box";
@import "./layouts/center";
@import "./layouts/cluster";
@import "./layouts/flex";
@import "./layouts/flow";
@import "./layouts/sidebar";
@import "./layouts/stack";

/* COMPONENTS */

/* UTILITIES */
@import "utilities/alignment";
@import "utilities/border";
@import "utilities/color";
@import "utilities/display";
@import "utilities/gap";
@import "utilities/margin";
@import "utilities/padding";
@import "utilities/position";
@import "utilities/sizes";
@import "utilities/text";
@import "utilities/visibility";

.light,
:root {
  --fg-contrast: var(--d-contrast);
  --fg-default: var(--d-default);
  --fg-subtle: var(--d-subtle);
  --fg-non-essential: var(--d-non-essential);

  --bg-primary: var(--l-contrast);
  --bg-secondary: var(--l-default);
  --bg-accent: var(--l-subtle);
  --bg-exception: var(--l-non-essential);
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg-contrast: var(--l-contrast);
    --fg-default: var(--l-default);
    --fg-subtle: var(--l-subtle);
    --fg-non-essential: var(--l-non-essential);

    --bg-primary: var(--d-default);
    --bg-secondary: var(--d-default);
    --bg-accent: var(--d-subtle);
    --bg-exception: var(--d-non-essential);
  }
}

.dark {
  --fg-contrast: var(--l-contrast);
  --fg-default: var(--l-default);
  --fg-subtle: var(--l-subtle);
  --fg-non-essential: var(--l-non-essential);

  --bg-primary: var(--d-default);
  --bg-secondary: var(--d-default);
  --bg-accent: var(--d-subtle);
  --bg-exception: var(--d-non-essential);
}

.light,
.dark,
body {
  color: hsl(var(--fg-contrast) / 80%);
}

:root {
  scroll-behavior: smooth;
}

body {
  background-color: hsl(var(--bg-primary));
  font-family: var(--font-body);
  font-size: var(--type-size);
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsl(var(--fg-contrast));
  font-family: var(--font-display);
}

@for $size from 1 through 5 {
  h#{$size} {
    font-size: var(--type-size-#{$size});
  }

  h#{$size}.responsive {
    font-size: clamp(
      var(--type-size-#{$size + 1}),
      #{10 - $size}vw,
      var(--type-size-#{$size})
    );
  }
}

.feathericon {
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  fill: none;
  stroke: currentColor;
  stroke-width: 2px;
  stroke-linejoin: unset;
  stroke-linecap: round;
}

a:not([class]) {
  color: hsl(var(--primary-700));
  text-decoration: dotted underline hsl(var(--primary-300));

  @media (prefers-color-scheme: dark) {
    color: hsl(var(--primary-100));
    text-decoration-color: hsl(var(--primary-700));
  }

  &:focus,
  &:hover {
    background-color: hsl(var(--primary-100));
    box-shadow: 0 0 0 10px hsl(var(--primary-100));
    outline: 5px solid hsl(var(--primary-100));

    @media (prefers-color-scheme: dark) {
      background-color: hsl(var(--primary-900));
      box-shadow: 0 0 0 10px hsl(var(--primary-900));
      outline: 5px solid hsl(var(--primary-900));
    }
  }

  &:focus {
    box-shadow: 0 0 0 10px hsl(var(--primary-300));

    @media (prefers-color-scheme: dark) {
      box-shadow: 0 0 0 10px hsl(var(--primary-700));
    }
  }
}
