@import "./reset";
@import "./config";
@import "./mixins";

/* LAYOUTS */
@import "./layouts/bleed";
@import "./layouts/box";
@import "./layouts/center";
@import "./layouts/cluster";
@import "./layouts/flex";
@import "./layouts/flow";
@import "./layouts/sidebar";
@import "./layouts/stack";

/* COMPONENTS */
@import "./components/avatar";
@import "./components/blobs";
@import "./components/blurred-decoration";
@import "./components/button";
@import "./components/browser-window";
@import "./components/slides";
@import "./components/card";
@import "./components/code";
@import "./components/fonts";
@import "./components/form-control";
@import "./components/logo";
@import "./components/newsletter";
@import "./components/notification";
@import "./components/post";
@import "./components/skip-link";
@import "./components/toc";

/* UTILITIES */
@import "utilities/alignment";
@import "utilities/border";
@import "utilities/color";
@import "utilities/display";
@import "utilities/gap";
@import "utilities/margin";
@import "utilities/padding";
@import "utilities/position";
@import "utilities/sizes";
@import "utilities/text";
@import "utilities/visibility";

.light,
:root {
  --fg-contrast: var(--d-contrast);
  --fg-default: var(--d-default);
  --fg-subtle: var(--d-subtle);
  --fg-non-essential: var(--d-non-essential);

  --bg-primary: var(--l-contrast);
  --bg-secondary: var(--l-default);
  --bg-accent: var(--l-subtle);
  --bg-exception: var(--l-non-essential);
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg-contrast: var(--l-contrast);
    --fg-default: var(--l-default);
    --fg-subtle: var(--l-subtle);
    --fg-non-essential: var(--l-non-essential);

    --bg-primary: var(--d-default);
    --bg-secondary: var(--d-contrast);
    --bg-accent: var(--d-subtle);
    --bg-exception: var(--d-non-essential);
  }
}

.dark {
  --fg-contrast: var(--l-contrast);
  --fg-default: var(--l-default);
  --fg-subtle: var(--l-subtle);
  --fg-non-essential: var(--l-non-essential);

  --bg-primary: var(--d-default);
  --bg-secondary: var(--d-contrast);
  --bg-accent: var(--d-subtle);
  --bg-exception: var(--d-non-essential);
}

.light,
.dark,
body {
  color: hsl(var(--fg-contrast) / 80%);
}

:root {
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

body {
  background-color: hsl(var(--bg-primary));
  font-family: var(--font-body);
  font-size: var(--type-size);
  scroll-behavior: smooth;
  display: grid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsl(var(--fg-contrast));
  font-family: var(--font-display);
}

@for $size from 1 through 5 {
  h#{$size} {
    font-size: var(--type-size-#{$size});
  }

  h#{$size}.responsive {
    font-size: clamp(
      var(--type-size-#{$size + 1}),
      #{10 - $size}vw,
      var(--type-size-#{$size})
    );
  }
}

.feathericon {
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  fill: none;
  stroke: currentColor;
  stroke-width: 2px;
  stroke-linejoin: unset;
  stroke-linecap: round;
}

a {
  box-decoration-break: clone;
  color: hsl(var(--fg-default));
  text-decoration: underline solid hsl(var(--primary-500));

  @media (prefers-color-scheme: dark) {
    color: hsl(var(--primary-100));
    text-decoration-color: hsl(var(--primary-700));
  }

  &:hover {
    color: hsl(var(--primary-500));
    text-decoration-color: hsl(var(--fg-default));
  }

  &:focus-visible {
    color: hsl(var(--primary-900));
    background-color: hsl(var(--primary-100) / 50%);
    box-shadow: 0 0 0 10px hsl(var(--primary-100));
    outline: 5px solid hsl(var(--primary-100));

    @media (prefers-color-scheme: dark) {
      color: hsl(var(--primary-100));
      background-color: hsl(var(--primary-900));
      box-shadow: 0 0 0 10px hsl(var(--primary-900));
      outline: 5px solid hsl(var(--primary-900));
    }
  }

  &:focus-visible {
    box-shadow: 0 0 0 10px hsl(var(--primary-300));

    @media (prefers-color-scheme: dark) {
      box-shadow: 0 0 0 10px hsl(var(--primary-700));
    }
  }
}

:target {
  animation: notify 300ms;
  animation-delay: 1000ms;
}

@keyframes notify {
  from {
    outline: 5px solid hsl(var(--primary-500));
    outline-offset: 0;
  }

  to {
    outline: 5px solid hsl(var(--primary-500) / 0%);
    outline-offset: 1rem;
  }
}

#main {
  margin-top: 5.5rem;

  &.bleed {
    margin-top: 0;
  }
}

code,
var,
samp {
  font-family: var(--font-mono);
  font-variation-settings: "MONO" 1, "CASL" 1, "CRSV" 1;
  font-weight: 390;
}

:root {
  scrollbar-color: hsl(var(--bg-accent)) hsl(var(--bg-primary));
}

*::-webkit-scrollbar {
  width: 0.75em;
  height: 0.75em;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--bg-accent));
  border: 3px solid hsl(var(--bg-primary));
  border-radius: 100px;
}

::-webkit-scrollbar-track {
  background-color: hsl(var(--bg-primary));
  border-radius: var(--ideal-radius);
}

em,
i {
  font-family: var(--font-serif);
  color: hsl(var(--primary-500));
}

footer {
  z-index: 1;
}



.toast {
  background-color: hsl(var(--d-default));
  border-radius: var(--ideal-radius);
  color: hsl(var(--l-default));
  column-gap: var(--space);
  display: grid;
  grid-template-columns: auto 1fr;
  padding: var(--space);
  pointer-events: all;
  transition: opacity 300ms, transform 300ms;
}

.toast:not(.shown) {
  opacity: 0;
  transform: translateX(150%);
}

.toast .feathericon {
  grid-row: span 2;
  height: 2em;
  place-self: center;
  stroke: var(--theme-color);
  width: 2em;
}

.toast__title {
  color: var(--theme-color, hsl(var(--l-contrast)));
  font-weight: bold;
}

.toast__message {
  margin: 0;
  max-width: 45ch;
}

.toast.default {
  --theme-color: hsl(var(--l-contrast));
}

.success.toast {
  --theme-color: hsl(var(--success-300));
}

.warning.toast {
  --theme-color: hsl(var(--warning-300));
}

.error.toast {
  --theme-color: hsl(var(--error-300));
}