/* #region TEXT ALIGNMENT */
$alignments: left, right, center, justify, start, end;

.text-,
.text-align-- {
  @each $a in $alignments {
    &#{$a} {
      text-align: $a;
    }
  }
}
/* #endregion */

/* #region BOX ALIGNMENT */
$alignments: start, end, center, stretch;

/* Align Items */
.ai {
  @each $a in $alignments {
    &-#{$a},
    &--#{$a} {
      align-items: $a;
    }
  }
}

/* Align Self */
.as {
  @each $a in $alignments {
    &-#{$a},
    &--#{$a} {
      align-self: $a;
    }
  }
}

/* Align Content */
.ac {
  @each $a in $alignments {
    &-#{$a},
    &--#{$a} {
      align-content: $a;
    }
  }
}

/* #endregion */

/* #region BOX JUSTIFICATION */
$alignments: (
  start: start,
  end: end,
  center: center,
  stretch: stretch,
  between: space-between,
  around: space-around,
  evenly: space-evenly,
);

/* Justify Content */
.jc {
  @each $k, $v in $alignments {
    &-#{$k},
    &--#{$k} {
      justify-content: $v;
    }
  }
}

$alignments: start, end, center, stretch;

/* Justify Items */
.ji {
  @each $a in $alignments {
    &-#{$a},
    &--#{$a} {
      justify-items: $a;
    }
  }
}

/* Justify Self */
.js {
  @each $a in $alignments {
    &-#{$a},
    &--#{$a} {
      justify-self: $a;
    }
  }
}
/* #endregion */
