$bg-colors: primary, secondary, accent, exception;

.bg {
  @each $color in $bg-colors {
    &--#{$color} {
      background-color: hsl(var(--bg-#{$color}));
    }

    @media (prefers-color-scheme: dark) {
      &-d--#{$color} {
        background-color: hsl(var(--bg-#{$color}));
      }
    }

    @media (prefers-color-scheme: light) {
      &-l--#{$color} {
        background-color: hsl(var(--bg-#{$color}));
      }
    }
  }
}

$fg-colors: contrast, default, subtle, non-essential;

.fg {
  @each $color in $fg-colors {
    &--#{$color} {
      color: hsl(var(--fg-#{$color}));
    }

    @media (prefers-color-scheme: dark) {
      &-d--#{$color} {
        color: hsl(var(--fg-#{$color}));
      }
    }

    @media (prefers-color-scheme: light) {
      &-l--#{$color} {
        color: hsl(var(--fg-#{$color}));
      }
    }
  }
}


/* OTHER COLORS */
$colors: error, success, warning, info, primary, secondary;
$levels: 100, 300, 500, 700, 900;

.fg {
  @each $color in $colors {
    &--#{$color} {
      @each $level in $levels {
        &-#{$level} {
          color: hsl(var(--#{$color}-#{$level}));
        }
      }
    }
  }
}

.bg {
  @each $color in $colors {
    &--#{$color} {
      @each $level in $levels {
        &-#{$level} {
          background-color: hsl(var(--#{$color}-#{$level}));
        }
      }
    }
  }
}