.full-height {
  min-height: 100%;
}

.full-vh {
  min-height: 100vh;
}

.resizable {
  resize: both;
}

.container {
  width: min(150ch, 100%);

  &--text {
    width: min(var(--content-width), 100%);
  }

  &--small {
    width: min(130ch, 100%);
  }
}