/* #region CASES */
.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}
/* #endregion */

/* #region ALIGNMENT */
.text-center {
  text-align: center;
}
/* #endregion */

/* #region WEIGHTS */
.weight-bold {
  font-weight: bold;
}

.weight-normal {
  font-weight: normal;
}
/* #endregion */

/* #region LETTER SPACING */
.letter-space--m {
  letter-spacing: 2px;
}
/* #endregion */

/* #region FONTS */
.font-display {
  font-family: var(--font-display);
}

.font-sans {
  font-family: var(--font-sans);
}
/* #endregion */

/* #region FONT SIZES */
@for $size from 1 through 9 {
  .fs-#{$size} {
    font-size: var(--type-size-#{$size});

    @if $size > 7 {
      line-height: 1;
    }
  }

  .fs-#{$size}.responsive {
    font-size: clamp(
      var(--type-size-#{$size + 1}),
      #{10 - $size}vw,
      var(--type-size-#{$size})
    );
  }
}
/* #endregion */

.quotation {
  text-align: end;
  border-inline-end: 3px solid hsl(var(--primary-100));
  padding: var(--space);

  blockquote {
    font-family: var(--font-mono);
    font-size: var(--type-size-3);
    line-height: 1.2;
    font-variation-settings: "CRSV" 1, "CASL" 0.5;
    font-weight: 350;
  }

  cite {
    font-style: normal;
  }

  figcaption::before {
    content: "— ";
  }
}

.footnotes {
  margin-top: var(--space-xxl);
  font-size: 0.8rem;
  background-image: linear-gradient(
    hsl(var(--fg-default)),
    hsl(var(--fg-default))
  );
  background-repeat: no-repeat;
  background-size: 35ch 1px;
  background-position: top left;
  padding-top: var(--space);
}
