.sr-only,
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.hidden {
  display: none;
}

.hide-on-mobile {
  @media (max-width: 800px) {
    display: none;
  }
}

.show-on-mobile {
  @media (min-width: 801px) {
    display: none;
  }
}
